<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover align-middle text-nowrap table-bordered">
        <thead>
          <tr>
            <th class="text-dark font-medium fs-4">Mã kế hoạch</th>
            <th class="text-dark font-medium fs-4">Vị trí khởi hành</th>
            <th class="text-dark font-medium fs-4">Địa chỉ khởi hành</th>
            <th class="text-dark font-medium fs-4">Ngày khởi hành</th>
            <th class="text-dark font-medium fs-4">Phương tiện di chuyển</th>
            <th class="text-dark font-medium fs-4">Trạng thái</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let plan of planList'>
            <td>
              {{plan.id}}
            </td>
            <td>
              {{plan.startName}}
            </td>
            <td>
              {{plan.startAddress}}
            </td>
            <td>
              {{plan.startTime}}
            </td>
            <td>
              {{plan.transport.name}}
            </td>
            <td>
              {{plan.status.name}}
            </td>
            <td>
              <div class="button-group">
                <button [routerLink]="['/admin/tour/details/'+plan.tourDate.id+'/plan/'+plan.id]"
                  class="btn btn-success">Chi tiết</button>
                <button class="btn btn-danger">Hủy</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="table-responsive">
  <p-table #dt1 [value]="planList" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
    currentPageReportTemplate="Hiển thị từ bảng {first} đến {last} trong tổng {totalRecords} bảng"
    [globalFilterFields]="['name', 'destinationAddress']" [rowsPerPageOptions]="[10, 25, 50]">
    <ng-template pTemplate="caption">
      <div class="flex">
        <form [formGroup]="formFilter">
          <span class="p-input-icon-left ml-auto">
            <input pInputText type="text" (change)="dt1.filterGlobal(getValueSearch(), 'contains')"
              formControlName="search" class="form-control box-shadow-none" placeholder="Tìm kiếm"
              aria-label="Example text with button addon" aria-describedby="button-search">
          </span>
        </form>
      </div>
    </ng-template>
    <ng-template pTemplate="header" class="theader">
      <tr>
        <th pSortableColumn="name" style="width:16%">Vị trí khởi hành<p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="destinationAddress" style="width:20%">Địa chỉ khởi hành<p-sortIcon
            field="destinationAddress"></p-sortIcon></th>
        <th pSortableColumn="active" style="width:16%">Ngày khởi hành<p-sortIcon field="active"></p-sortIcon></th>
        <th pSortableColumn="availableSpaces" style="width:21%">Phương tiện di chuyển<p-sortIcon
            field="availableSpaces"></p-sortIcon></th>
        <th pSortableColumn="availableSpaces" style="width:12%">Trạng thái<p-sortIcon
            field="availableSpaces"></p-sortIcon></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" class="tbody" let-planList>
      <tr>
        <td>{{ planList.startName }}</td>
        <td>{{ planList.startAddress }}</td>
        <td>{{ planList.startTime }}</td>
        <td>{{planList.transport.name}}</td>
        <td>{{ planList.status.name}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
