<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="wrap d-md-flex">
          <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
            <div class="text w-100">
              <h2 class="h3">Chào mừng bạn đăng nhập</h2>
              <p>Bạn chưa có tài khoản?</p>
              <a href="/auth/sign-up" class="btn btn-white btn-outline-white">Đăng ký</a>
            </div>
          </div>
          <div class="login-wrap p-4 p-lg-5">
            <div class="d-flex">
              <div class="w-100 text-center">
                <h2 class="mb-4">Đăng nhập</h2>
              </div>

            </div>
            <form [formGroup]="formLoginDataReq" (ngSubmit)="onSubmit()" action="#" class="signin-form">
              <div class="form-group mb-3">
                <label class="label" for="username"></label>
                <input name="username" formControlName="username" type="text" class="form-control"
                  placeholder="Tên đăng nhập">
                <small *ngIf="!formLoginDataReq.controls.username.valid && this.submitted" class="text-danger">Vui lòng
                  nhập
                  email</small>
              </div>
              <div class="form-group mb-3">
                <label class="label" for="password"></label>
                <input type="password" formControlName="password" name="password" class="form-control"
                  placeholder="Mật khẩu">
                <small *ngIf="!formLoginDataReq.controls.password.valid && this.submitted" class="text-danger">Vui lòng
                  nhập mật khẩu</small>
              </div>
              <div class="form-group d-md-flex">
                <div class="w-50 text-left">
                  <label class="checkbox-wrap checkbox-primary mb-0">Ghi nhớ mật khẩu
                    <input formControlName="remember_me" name="remember_me" type="checkbox" checked>
                    <span class="checkmark"></span>
                  </label>
                </div>
                <!-- <div class="w-50 text-md-right">
                  <a href="/auth/forgot-pass">Quên mật khẩu?</a>
                </div> -->
              </div>
              <div class="form-group">
                <button type="submit" class="form-control btn btn-primary submit px-3" (click)="login()">Đăng
                  nhập</button>
              </div>

              <hr>
            </form>
            <h6 class="text-info text-center"><a href="/home">Quay lại trang chủ</a></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>