/* CSS */
.sort-container select {
  padding: px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  width: 220px;
}

.sort-container select:focus {
  outline: none;
  border-color: #007bff;
}

/* Tùy chỉnh màu nền và màu chữ cho option được chọn */
.sort-container select option:checked {
  background-color: #007bff;
  color: #fff;
}
.ftco-section {
    padding: 3em 0;
}
.project-wrap {
  display: flex;
  flex-direction: column;

  /* other styles */
}
.text {
  height: 320px; /* Set a fixed height */
  overflow: hidden; /* Hide overflowing content */
}
