<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url(../assets/images/bg_1.jpg);">
    <!-- <div class="overlay"></div> -->
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Trang chủ <i
                  class="fa fa-chevron-right"></i></a></span> <span>Danh sách các tour <i
                class="fa fa-chevron-right"></i></span></p>
          <h1 class="mb-0 bread">Danh sách các tour</h1>
        </div>
      </div>
    </div>
  </section>

  <!-- Tim kiếm -->
  <section class="ftco-section ftco-no-pb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="search-wrap-1 ftco-animate">
            <form action="#" class="search-property-1">
              <div class="row no-gutters">
                <div class="col-lg d-flex">
                  <div class="form-group p-4 border-0">
                    <label for="#">Tìm tên tour</label>
                    <div class="form-field">
                      <div class="icon"><span class="fa fa-search"></span></div>
                      <input type="text" class="form-control"
                        placeholder="Nhập tên tour" [(ngModel)]="newTour.tourName" name="tourName">
                    </div>
                  </div>
                </div>
                <div class="col-lg d-flex">
                  <div class="form-group p-4">
                    <label for="#">Ngày khởi hành</label>
                    <div class="form-field">
                      <div class="icon"><span class="fa fa-calendar"></span></div>
                      <input type="date" class="form-control "
                        placeholder="Chọn ngày đi" [(ngModel)]="newTour.startDate" name="startDate" min="{{ getCurrentDate() | date: 'yyyy-MM-dd' }}">
                    </div>
                  </div>
                </div>
                <div class="col-lg d-flex">
                  <div class="form-group p-4">
                    <label for="#">Điểm khởi hành</label>
                    <div class="form-field">
                      <div class="icon"><span class="fa fa-calendar"></span></div>
                      <select name="startAddress" id="startAddress" class="form-control" [(ngModel)]="newTour.startAddress">
                        <option value="">Chọn điểm khởi hành</option>
                        <option *ngFor="let address of StartAddress" [value]="address.start_address">{{ address.start_address }}</option>
                    </select>
                    </div>
                  </div>
                </div>
                <div class="col-lg d-flex">
                  <div class="form-group p-4">
                    <label for="#">Khoảng giá</label>
                    <div class="form-field">
                      <div class="select-wrap">
                        <div class="icon"><span class="fa fa-chevron-down"></span></div>
                        <select id="priceRange" class="form-control" [(ngModel)]="newTour.priceRange" name="priceRange" (change)="selectPriceRange(newTour.priceRange)">
                          <option value="">Giá</option>
                          <option value="Dưới 3 triệu">Dưới 3 triệu</option>
                          <option value="Từ 3 - 7 triệu">Từ 3 - 7 triệu</option>
                          <option value="Từ 7 - 10 triệu">Từ 7 - 10 triệu</option>
                          <option value="Từ 10 đến 15">Từ 10 đến 15 triệu</option>
                          <option value="Trên 15">Trên 15 triệu</option>
                      </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg d-flex">
                  <div class="form-group d-flex w-100 border-0">
                    <div class="form-field w-100 align-items-center d-flex">
                      <input type="submit" value="Tìm tour"
                           class="align-self-stretch form-control btn btn-primary" (click)="createNewTour()">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- --------- -->
 <!-- Thông báo khi không tìm thấy dữ liệu tìm kiếm -->
 <section class="ftco-section" *ngIf="!dataLoaded && searchError">
  <div class="container">
    <p style="text-align: center; font-size: 16px;">{{ searchError }}</p>
   </div>
</section>
<!-- --------- -->

  <section class="ftco-section" *ngIf="dataLoaded || searchError">
    <div class="container">
      <!-- Sắp xếp  -->
      <div class="sort-container" *ngIf="dataLoaded">
        <label for="sort-select">Sắp xếp theo: </label>
        <select id="sort-select" (change)="onSortChange($event)" class="custom-select">
          <option value="">Chọn sắp xếp</option>
          <option value="lowest">Giá thấp đến cao</option>
          <option value="highest">Giá cao đến thấp</option>
          <option value="dateAsc">Ngày gần nhất</option>
          <option value="dateDesc">Ngày xa nhất</option>
        </select>
      </div><br><br><br>
      <!-- ------- -->
      <!-- --Load dữ liệu --- -->
      <div class="row">
        <div class="col-md-4" *ngFor="let tour of HomeTour | paginate: { itemsPerPage: 6, currentPage: currentPage }">
          <div class="project-wrap" >
            <a href="destination-detail/{{tour.tourID}}" class="img" [style.background-image]="'url('+ tour.image + ')'">
              <span class="price">{{ formatCurrency(tour.adult_price) }}/người</span>
            </a>
            <div class="text p-4">
              <span class="days">2 ngày 3 đêm</span>
              <h3><a href="destination-detail/{{tour.tourID}}">{{tour.name_tour}}</a></h3>
              <br>
              <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: {{tour.start_address}}</p>
              <p class="location"><span class="fa fa-bus"></span> Phương tiện: {{tour.transport_name}}</p>
              <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: {{tour.start_time | date:'dd/MM/yyyy'}}</p>
              <p class="location"><span class="fa fa-home"></span> Khách sạn: {{tour.hotel_name}} {{tour.hotel_star}}*</p>
              <ul>
                <li><span class="ml-auto"></span><a href="destination-detail/{{tour.tourID}}">>> Xem thêm</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- ---------- -->
      <!-- Phân trang -->
      <div class="row mt-5">
        <div class="col text-center">
          <pagination-controls (pageChange)="currentPage=$event" [maxSize]="5" [directionLinks]="true" [autoHide]="true" [previousLabel]="'Trước'" [nextLabel]="'Tiếp'"></pagination-controls>
        </div>
      </div>
     <!-- ---------- -->
    </div>
  </section>
