<main>
    <div class="hero-wrap js-fullheight" style="background-image: url(../assets/images/bg_5.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
                <div class="col-md-7 ftco-animate">
                    <span class="subheading">Chào mừng đến với trang web Piltover</span>
                    <h1 class="mb-4">Khám phá địa điểm yêu thích của bạn cùng chúng tôi</h1>
                    <p class="caps">Du lịch đến mọi nơi trên Việt Nam mà không cần đi lòng vòng</p>
                </div>
                <a href="https://www.youtube.com/watch?v=Au6LqK1UH8g"
                    class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
                    <span class="fa fa-play"></span>
                </a>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ftco-search d-flex justify-content-center">
                        <div class="row">
                            <div class="col-md-12 nav-link-wrap">
                                <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist"
                                    aria-orientation="vertical">
                                    <a class="nav-link active mr-md-1" id="v-pills-1-tab" data-toggle="pill"
                                        href="#v-pills-1" role="tab" aria-controls="v-pills-1"
                                        aria-selected="true">Tìm Tour du lịch</a>
                                </div>
                            </div>
                            <div class="col-md-12 tab-wrap">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
                                        aria-labelledby="v-pills-nextgen-tab">
                                        <form action="#" class="search-property-1">
                                            <div class="row no-gutters">
                                                <div class="col-md d-flex">
                                                    <div class="form-group p-4 border-0">
                                                        <label for="#">Tên tour</label>
                                                        <div class="form-field">
                                                            <div class="icon"><span class="fa fa-search"></span>
                                                            </div>
                                                            <input type="text" class="form-control"
                                                                placeholder="Nhập tên tour">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md d-flex">
                                                    <div class="form-group p-4">
                                                        <label for="#">Ngày khởi hành</label>
                                                        <div class="form-field">
                                                            <div class="icon"><span class="fa fa-calendar"></span>
                                                            </div>
                                                            <input type="text" class="form-control checkin_date"
                                                                placeholder="Chọn ngày đi">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg d-flex">
                                                    <div class="form-group p-4">
                                                      <label for="#">Số ngày</label>
                                                      <div class="form-field">
                                                        <div class="icon"><span class="fa fa-calendar"></span></div>
                                                        <select name="" id="" class="form-control">
                                                          <option value="">Chọn số ngày</option>
                                                          <option value="">1 ngày</option>
                                                          <option value="">2 ngày</option>
                                                          <option value="">3 ngày</option>
                                                          <option value="">4 ngày</option>
                                                          <option value="">5 ngày</option>
                                                          <option value="">6 ngày</option>
                                                          <option value="">7 ngày</option>
                                                          <option value="">8 ngày</option>
                                                          <option value="">9 ngày</option>
                                                          <option value="">10 ngày</option>
                                                          <option value="">11 ngày</option>
                                                          <option value="">12 ngày</option>
                                                          <option value="">13 ngày</option>
                                                        </select>
                                                      </div>
                                                    </div>
                                                  </div>
                                                <div class="col-md d-flex">
                                                    <div class="form-group p-4">
                                                        <label for="#">Khoảng giá</label>
                                                        <div class="form-field">
                                                            <div class="select-wrap">
                                                                <div class="icon"><span
                                                                        class="fa fa-chevron-down"></span></div>
                                                                <select name="" id="" class="form-control">
                                                                    <option value="">Giá</option>
                                                                    <option value="">Dưới 3 triệu</option>
                                                                    <option value="">Từ 3 - 7 triệu</option>
                                                                    <option value="">Từ 7 - 10 triệu</option>
                                                                    <option value="">Từ 10 đến 15</option>
                                                                    <option value="">Trên 15</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md d-flex">
                                                    <div class="form-group d-flex w-100 border-0">
                                                        <div class="form-field w-100 align-items-center d-flex">
                                                            <input type="submit" value="Tìm tour"
                                                                class="align-self-stretch form-control btn btn-primary">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <section class="ftco-section img ftco-select-destination" style="background-image: url(../assets/images/bg_3.jpg);">
        <div class="container" style="margin-top: -70px;">
            <div class="row justify-content-center pb-4">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Chào mừng bạn đến với Piltover</span>
                    <h2 class="mb-4">Hãy chọn địa điểm bạn yêu thích</h2>
                </div>
            </div>
        </div>
        <div class="container container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel-destination owl-carousel ftco-animate">
                        <div class="item">
                            <div class="project-destination">
                                <a href="#" class="img" style="background-image: url(../assets/images/place-1.jpg);">
                                    <div class="text">
                                        <h3>Cà Mau</h3>
                                        <span> 5,390,000đ/người</span>
                                    </div>

                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project-destination">
                                <a href="#" class="img" style="background-image: url(../assets/images/place-2.jpg);">
                                    <div class="text">
                                        <h3>Tây Ninh</h3>
                                        <span>5,390,000đ/người</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project-destination">
                                <a href="#" class="img" style="background-image: url(../assets/images/place-3.jpg);">
                                    <div class="text">
                                        <h3>Hạ Long</h3>
                                        <span>5,390,000đ/người</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project-destination">
                                <a href="#" class="img" style="background-image: url(../assets/images/place-4.jpg);">
                                    <div class="text">
                                        <h3>Nha Trang</h3>
                                        <span>5,390,000đ/người</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project-destination">
                                <a href="#" class="img" style="background-image: url(../assets/images/place-5.jpg);">
                                    <div class="text">
                                        <h3>Phú Quốc</h3>
                                        <span>5,390,000đ/người</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="project-destination">
                                <a href="#" class="img" style="background-image: url(../assets/images/place-2.jpg);">
                                    <div class="text">
                                        <h3>Sapa</h3>
                                        <span>5,390,000đ/người</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center pb-4">
                <div class="col-md-12 heading-section text-center ftco-animate">

                    <h2 class="mb-4">Book Tour Ngay! Giá Rẻ Trong Ngày</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url(../assets/images/destination-1.jpg);">
                            <span class="price">5,390,000đ/người</span>
                        </a>
                        <div class="text p-4">
                            <span class="days">2 ngày 3 đêm</span>
                            <h3><a href="#">Nha Trang</a></h3>
                            <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                                Minh</p>
                            <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
                            <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
                            <ul>
                                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url(../assets/images/destination-2.jpg);">
                            <span class="price">5,390,000đ/người</span>
                        </a>
                        <div class="text p-4">
                            <span class="days">2 ngày 3 đêm</span>
                            <h3><a href="#">Nha Trang</a></h3>
                            <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                                Minh</p>
                            <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
                            <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
                            <ul>
                                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url(../assets/images/destination-3.jpg);">
                            <span class="price">5,390,000đ/người</span>
                        </a>
                        <div class="text p-4">
                            <span class="days">2 ngày 3 đêm</span>
                            <h3><a href="#">Nha Trang</a></h3>
                            <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                                Minh</p>
                            <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
                            <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
                            <ul>
                                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url(../assets/images/destination-4.jpg);">
                            <span class="price">5,390,000đ/người</span>
                        </a>
                        <div class="text p-4">
                            <span class="days">2 ngày 3 đêm</span>
                            <h3><a href="#">Nha Trang</a></h3>
                            <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                                Minh</p>
                            <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
                            <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
                            <ul>
                                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url(../assets/images/destination-5.jpg);">
                            <span class="price">5,390,000đ/người</span>
                        </a>
                        <div class="text p-4">
                            <span class="days">2 ngày 3 đêm</span>
                            <h3><a href="#">Nha Trang</a></h3>
                            <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                                Minh</p>
                            <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
                            <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
                            <ul>
                                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url(../assets/images/destination-6.jpg);">
                            <span class="price">5,390,000đ/người</span>
                        </a>
                        <div class="text p-4">
                            <span class="days">2 ngày 3 đêm</span>
                            <h3><a href="#">Nha Trang</a></h3>
                            <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                                Minh</p>
                            <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
                            <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
                            <ul>
                                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>