<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url(../assets/images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Trang chủ <i
                  class="fa fa-chevron-right"></i></a></span> <span>Danh sách các tour <i
                class="fa fa-chevron-right"></i></span></p>
          <h1 class="mb-0 bread">Danh sách các tour</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-no-pb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="search-wrap-1 ftco-animate">
            <form action="#" class="search-property-1">
              <div class="row no-gutters">
                <div class="col-lg d-flex">
                  <div class="form-group p-4 border-0">
                    <label for="#">Tìm tên tour</label>
                    <div class="form-field">
                      <div class="icon"><span class="fa fa-search"></span></div>
                      <input type="text" class="form-control" placeholder="Nhập tên tour">
                    </div>
                  </div>
                </div>
                <div class="col-lg d-flex">
                  <div class="form-group p-4">
                    <label for="#">Ngày khởi hành</label>
                    <div class="form-field">
                      <div class="icon"><span class="fa fa-calendar"></span></div>
                      <input type="text" class="form-control checkin_date" placeholder="Chọn ngày đi">
                    </div>
                  </div>
                </div>
                <div class="col-lg d-flex">
                  <div class="form-group p-4">
                    <label for="#">Số ngày</label>
                    <div class="form-field">
                      <div class="icon"><span class="fa fa-calendar"></span></div>
                      <select name="" id="" class="form-control">
                        <option value="">Chọn số ngày</option>
                        <option value="">1 ngày</option>
                        <option value="">2 ngày</option>
                        <option value="">3 ngày</option>
                        <option value="">4 ngày</option>
                        <option value="">5 ngày</option>
                        <option value="">6 ngày</option>
                        <option value="">7 ngày</option>
                        <option value="">8 ngày</option>
                        <option value="">9 ngày</option>
                        <option value="">10 ngày</option>
                        <option value="">11 ngày</option>
                        <option value="">12 ngày</option>
                        <option value="">13 ngày</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-lg d-flex">
                  <div class="form-group p-4">
                    <label for="#">Khoảng giá</label>
                    <div class="form-field">
                      <div class="select-wrap">
                        <div class="icon"><span class="fa fa-chevron-down"></span></div>
                        <select name="" id="" class="form-control">
                          <option value="">Giá</option>
                          <option value="">Dưới 3 triệu</option>
                          <option value="">Từ 3 - 7 triệu</option>
                          <option value="">Từ 7 - 10 triệu</option>
                          <option value="">Từ 10 đến 15</option>
                          <option value="">Trên 15</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg d-flex">
                  <div class="form-group d-flex w-100 border-0">
                    <div class="form-field w-100 align-items-center d-flex">
                      <input type="submit" value="Tìm tour" class="align-self-stretch form-control btn btn-primary">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="ftco-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 ftco-animate">
          <div class="project-wrap">
            <a href="/destination-detail" class="img" style="background-image: url(../assets/images/destination-1.jpg);">
              <span class="price">5,390,000đ/người</span>
            </a>
            <div class="text p-4">
              <span class="days">2 ngày 3 đêm</span>
              <h3><a href="#">Nha Trang</a></h3>
              <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                Minh</p>
              <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
              <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
              <ul>
                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(../assets/images/destination-2.jpg);">
              <span class="price">5,390,000đ/người</span>
            </a>
            <div class="text p-4">
              <span class="days">2 ngày 3 đêm</span>
              <h3><a href="#">Nha Trang</a></h3>
              <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                Minh</p>
              <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
              <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
              <ul>
                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(../assets/images/destination-3.jpg);">
              <span class="price">5,390,000đ/người</span>
            </a>
            <div class="text p-4">
              <span class="days">2 ngày 3 đêm</span>
              <h3><a href="#">Nha Trang</a></h3>
              <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                Minh</p>
              <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
              <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
              <ul>
                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>

              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-4 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(../assets/images/destination-4.jpg);">
              <span class="price">5,390,000đ/người</span>
            </a>
            <div class="text p-4">
              <span class="days">2 ngày 3 đêm</span>
              <h3><a href="#">Nha Trang</a></h3>
              <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                Minh</p>
              <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
              <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
              <ul>
                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(../assets/images/destination-5.jpg);">
              <span class="price">5,390,000đ/người</span>
            </a>
            <div class="text p-4">
              <span class="days">2 ngày 3 đêm</span>
              <h3><a href="#">Nha Trang</a></h3>
              <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                Minh</p>
              <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
              <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
              <ul>
                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(../assets/images/destination-6.jpg);">
              <span class="price">5,390,000đ/người</span>
            </a>
            <div class="text p-4">
              <span class="days">2 ngày 3 đêm</span>
              <h3><a href="#">Nha Trang</a></h3>
              <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                Minh</p>
              <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
              <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
              <ul>
                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>

              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-4 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(../assets/images/destination-7.jpg);">
              <span class="price">5,390,000đ/người</span>
            </a>
            <div class="text p-4">
              <span class="days">2 ngày 3 đêm</span>
              <h3><a href="#">Nha Trang</a></h3>
              <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                Minh</p>
              <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
              <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
              <ul>
                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(../assets/images/destination-8.jpg);">
              <span class="price">5,390,000đ/người</span>
            </a>
            <div class="text p-4">
              <span class="days">2 ngày 3 đêm</span>
              <h3><a href="#">Nha Trang</a></h3>
              <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                Minh</p>
              <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
              <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
              <ul>
                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(../assets/images/destination-9.jpg);">
              <span class="price">5,390,000đ/người</span>
            </a>
            <div class="text p-4">
              <span class="days">2 ngày 3 đêm</span>
              <h3><a href="#">Nha Trang</a></h3>
              <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                Minh</p>
              <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
              <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
              <ul>
                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">
            <ul>
              <li><a href="#">&lt;</a></li>
              <li class="active"><span>1</span></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&gt;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>