<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url(../assets/images/bg_1.jpg);">
  <!-- <div class="overlay"></div> -->
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <p class="breadcrumbs">
          <span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a>
          </span> <span class="mr-2"><a href="/blog">Blog <i class="fa fa-chevron-right"></i></a>
          </span> <span>Blog Single <i class="fa fa-chevron-right"></i></span>
        </p>
        <h1 class="mb-0 bread">Blog Details</h1>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ftco-animate py-md-5 mt-md-5">
        <h2 class="mb-3">{{post.title}}</h2>
        <p>{{post.content}}</p>

        <p-galleria [value]="imgs" [containerStyle]="{ 'max-width': '100%' }">
          <ng-template pTemplate="item" let-item>
            <img [src]="item.path" style="width: 90%;" />
          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
            <div class="grid grid-nogutter justify-content-center">
              <img [src]="item.path" width="20%" />
            </div>
          </ng-template>
        </p-galleria>

        <div class="pt-5 mt-5">
          <h3 class="mb-5" style="font-size: 20px; font-weight: bold;">{{countCmt}} Comments</h3>
          <ul class="comment-list" *ngFor="let item of cmt">
            <li class="comment">
              <div class="vcard bio">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/postimage-duantn.appspot.com/o/avatar.png?alt=media&token=9537d31f-274c-4318-a3a8-cc84565d0473"
                  alt="Image placeholder">
              </div>
              <div class="comment-body">
                <h3>{{item.commentUser.fullname}}</h3>
                <div class="meta">{{item.commentTime | date:"dd-MM-yyyy HH:mm:ss"}}
                  <p *ngIf="item.updateTime != null"> đã chỉnh sửa vào lúc {{item.updateTime | date:"dd-MM-yyyy HH:mm:ss"}}
                  </p>
                </div>
                <div *ngIf="item.id == editId else else_Things">
                  <form [formGroup]="editCmt" (ngSubmit)="editComment(item.id)" style="display: flex; float: left;">
                    <input type="text" formControlName="content" [(ngModel)]="item.content">
                    <button class="btn btn-danger" (click)="setCommentId()" style="margin-left: 5px;"><i class="pi pi-times"
                      style="color: black"></i></button>
                    <button class="btn btn-info" type="submit" style="margin-left: 5px;"><i class="pi pi-check"
                        style="color: black"></i></button>
                    <div class="text-danger" style="font-size: large; margin-left: 10px;">{{message_validition}}</div>
                  </form>
                </div>
                <ng-template #else_Things>
                  <p>{{item.content}}</p>
                </ng-template>

                <div *ngIf="item.commentUser.id == 1234567890" style="float: right;">
                  <details class="dropdown">
                    <summary role="button">
                      <a class="button">...</a>
                    </summary>
                    <ul>
                      <li><a role="button" (click)="getCommentId(item.id)">Sửa</a></li>
                      <li><a role="button" (click)="removeCmt(item.id)">Xóa</a></li>
                    </ul>
                  </details>
                </div>
              </div>
            </li>
          </ul>
          <!-- END comment-list -->
          <form [formGroup]="addCmt" (ngSubmit)="saveComment()" style="display: flex; float: left;">
            <div class="vcard bio">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/postimage-duantn.appspot.com/o/avatar.png?alt=media&token=9537d31f-274c-4318-a3a8-cc84565d0473"
                alt="Image placeholder" width="50px">
            </div>
            <input type="text" formControlName="content" placeholder="Add comment">
            <button class="btn btn-light" type="submit" style="margin-left: 5px;"><i class="pi pi-send"
                style="color: black"></i></button>
            <div class="text-danger" style="font-size: large; margin-left: 10px;">{{message_validition}}</div>
          </form>
        </div>
        <!-- Bảng lựa chọn thông báo khi nhấn nút xóa -->
      </div>
    </div>
  </div>
</section> <!-- .section -->
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<section class="ftco-intro ftco-section ftco-no-pt">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <div class="img" style="background-image: url(../assets/images/bg_2.jpg);">
          <div class="overlay"></div>
          <h2>We Are Pacific A Travel Agency</h2>
          <p>We can manage your dream building A small river named Duden flows by their place</p>
          <p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3">Ask For A Quote</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
