<div class="row">
  <div class="col-md-6 col-lg-3" *ngFor="let topcard of topcards; let i = index">
      <div class="card">
          <div class="card-body">
              <div class="d-flex align-items-center">
                  <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-{{topcard.bgcolor}} text-{{topcard.bgcolor}}">
                      <i class="{{topcard.icon}}"></i>
                  </div>
                  <div class="ms-3">
                      <div *ngFor="let revenue of revenue">
                        <div *ngIf="i === 0">
                          <h3 class="mb-0 font-weight-bold">{{ revenue.total_revenue | currency:'VND':'symbol':'1.3-3' }}</h3>
                          <small class="text-muted fs-3">Doanh Thu Tổng </small>
                      </div>
                      <div *ngIf="i === 1">
                        <h3 class="mb-0 font-weight-bold">{{ revenue.total_tour_revenue | currency:'VND':'symbol':'1.3-3' }}</h3>
                        <small class="text-muted fs-3">Doanh Thu tour </small>
                      </div>
                      <div *ngIf="i === 2">
                        <h3 class="mb-0 font-weight-bold">{{ revenue.total_hotel_revenue | currency:'VND':'symbol':'1.3-3' }}</h3>
                        <small class="text-muted fs-3">Doanh Thu hotel </small>
                      </div>
                      <div *ngIf="i === 3">
                        <h3 class="mb-0 font-weight-bold">{{ revenue.total_transport_revenue | currency:'VND':'symbol':'1.3-3' }}</h3>
                        <small class="text-muted fs-3">Doanh Thu phương tiện </small>
                    </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
