<h3 class="text-center">BOOKING DETAIL</h3>
<form>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="mb-3 col-sm-12 col-md-6">
          <label for="" class="form-label">Booking Id: </label>
          <input class="form-control" id="" type="text" disabled>
        </div>
        <div class="mb-3 col-sm-12 col-md-6">
          <label for="" class="form-label">Tour: </label>
          <input class="form-control" id="" type="text" disabled>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-sm-12 col-md-6">
          <label for="email" class="form-label">Trạng thái: </label>
          <select class="form-control">
            <option selected class="text-center"> --- Chọn --- </option>
            <option value="0">Chưa liên hệ</option>
            <option value="1">Đã liên hệ</option>
            <option value="2">Đã hủy</option>
          </select>
        </div>
        <div class="mb-3 col-sm-12 col-md-6">
          <label for="" class="form-label">Ngày lập:</label>
          <input class="form-control" id="" type="date" disabled>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-sm-12 col-md-4">
          <label for="" class="form-label">Chỗ ở: </label>
          <input class="form-control" id="" type="text">
        </div>
        <div class="mb-3 col-sm-12 col-md-4">
          <label for="" class="form-label">Phương tiện: </label>
          <input class="form-control" id="" type="text">
        </div>
        <div class="mb-3 col-sm-12 col-md-4">
          <label for="" class="form-label">Số lượng người tham gia: </label>
          <input class="form-control" id="" type="text">
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-sm-12 col-md-4">
          <label for="" class="form-label">Tổng tiền cơ bản: </label>
          <input class="form-control" id="" type="text" disabled>
        </div>
        <div class="mb-3 col-sm-12 col-md-4">
          <label for="" class="form-label">Tiền giảm giá: </label>
          <input class="form-control" id="" type="text" disabled>
        </div>
        <div class="mb-3 col-sm-12 col-md-4">
          <label for="" class="form-label">Tổng tiền thu: </label>
          <input class="form-control" id="" type="text">
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="mb-3 col-sm-12 col-md-6">
          <label for="" class="form-label">Tên khách hàng: </label>
          <input class="form-control" id="" type="text">
        </div>
        <div class="mb-3 col-sm-12 col-md-6">
          <label for="email" class="form-label">Email:</label>
          <input class="form-control" id="email" type="email">
        </div>

      </div>
      <div class="row">
        <div class="mb-3 col-sm-12 col-md-4">
          <label for="phone" class="form-label">Số điện thoại: </label>
          <input class="form-control" id="phone" type="text">
        </div>
        <div class="mb-3 col-sm-12 col-md-4">
          <label for="" class="form-label">Địa chỉ: </label>
          <input class="form-control" id="" type="text">
        </div>
        <div class="mb-3 col-sm-12 col-md-4">
          <label for="" class="form-label">Ngày đi: </label>
          <input class="form-control" id="" type="date" disabled>
        </div>
      </div>
    </div>
  </div>
  <div class="row col-md-12">
    <div class="justify-content-center">
        <button type="submit" class="btn btn-outline-success col-md-1 offset-5">Lưu</button>
      <button class="btn btn-outline-info col-md-1 ml-3">Hủy</button>
    </div>

  </div>

</form>
