input.ng-invalid.ng-touched {
  border: red 1px solid;
}
select.ng-invalid.ng-touched {
  border: red 1px solid;
}

textarea.ng-invalid.ng-touched {
  border: red 1px solid;
}

small{
  color: red;
}

