<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Danh sách Tour</h4>
        <button class="btn btn-success mb-3" (click)="open('add', null)">Thêm Tour</button>

        <!-- Add Modal -->
        <ng-template #addModal let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Thêm Tour</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <form #addForm="ngForm" class="container" (ngSubmit)="submitAdd(addForm)">
            <div class="modal-body">
              <label class="form-label">Tên Tour:</label>
              <div class="row">
                <input #name="ngModel" class="form-control" type="text"
                  placeholder="VD: Chuyến đi gia đình đến Phú Quốc" name="name" ngModel required>
                <small *ngIf="name.touched && name.invalid">Tên không được trống</small>
              </div>
              <label class="form-label">Điểm đến:</label>
              <div class="row">
                <select #province="ngModel" class="form-control col-md-4" name="province" (change)="provinceChange()"
                  id="province" ngModel required>
                  <option value="">Chọn Tỉnh/Thành Phố</option>
                </select>
                <select #district="ngModel" class="form-control col-md-4" name="district" (change)="districtChange()"
                  id="district" ngModel required>
                  <option value="">Chọn Quận/Huyện</option>
                </select>
                <select #ward="ngModel" class="form-control col-md-4" name="ward" (change)="wardChange()" id="ward"
                  ngModel required>
                  <option value="">Chọn Phường/Xã</option>
                </select>
              </div>
              <label class="form-label">Đường:</label>
              <div class="row">
                <input #road="ngModel" class="form-control" name="road" type="text" placeholder="VD: Số 123, Đường ABC"
                  ngModel required>
              </div>
              <div>
                <div *ngIf="province.touched && district.touched && ward.touched && road.touched">
                  <small *ngIf="province.invalid || district.invalid || ward.invalid || road.invalid">Vui lòng điền đầy
                    đủ điểm đến và đường</small>
                </div>
              </div>
              <label class="form-label">Số Lượng Khách:</label>
              <div class="row">
                <input #availability="ngModel" class="form-control" name="availableSpaces" type="number" min="10"
                  max="200" placeholder="Giới hạn từ 10 đến 200" ngModel required>
                <small *ngIf="availability.touched && availability.value < 10">Số lượng phải từ 10 trở lên</small>
                <small *ngIf="availability.touched && availability.value > 200">Số lượng vượt quá 200</small>
              </div>
              <label class="form-label">Mô Tả:</label>
              <div class="row">
                <textarea #description="ngModel" name="description" id="" rows="6" ngModel required></textarea>
                <small *ngIf="description.touched && description.invalid">Vui lòng điền mô tả</small>
              </div>
            </div>
            <!-- <img [src]="imgSrc" alt="">IMG -->
            <div class="modal-footer">
              <div>
                <small>Lưu ý sau khi thêm Tour chỉ có thể chỉnh sửa [Số lượng], [Hình] và [Mô tả]</small>
              </div>
              <button type="submit" class="btn btn-primary" (click)="modal.close('Save click')"
                [disabled]="!addForm.valid">Submit</button>
            </div>
          </form>
        </ng-template>

        <!-- Edit Modal -->
        <ng-template #editModal let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Chỉnh Sửa Tour</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <form #editForm="ngForm" class="container" (ngSubmit)="submitEdit(editForm)">
            <div class="modal-body">
              <label class="form-label">Tên Tour:</label>
              <div class="row">
                <input #name="ngModel" class="form-control" type="text"
                  placeholder="VD: Chuyến đi gia đình đến Phú Quốc" name="name" ngModel="{{editTour.name}}" required>
                <small *ngIf="name.touched && name.invalid">Tên không được trống</small>
              </div>
              <label class="form-label">Điểm đến:</label>
              <div class="row">
                <select #province="ngModel" class="form-control col-md-4" name="province" (change)="provinceChange()"
                  id="province" ngModel required>
                  <option value="">Chọn Tỉnh/Thành Phố</option>
                </select>
                <select #district="ngModel" class="form-control col-md-4" name="district" (change)="districtChange()"
                  id="district" ngModel required>
                  <option value="">Chọn Quận/Huyện</option>
                </select>
                <select #ward="ngModel" class="form-control col-md-4" name="ward" (change)="wardChange()" id="ward"
                  ngModel required>
                  <option value="">Chọn Phường/Xã</option>
                </select>
              </div>
              <label class="form-label">Đường:</label>
              <div class="row">
                <input #road="ngModel" class="form-control" name="road" type="text" placeholder="VD: Số 123, Đường ABC"
                  ngModel="{{roadValue}}" required>
              </div>
              <div>
                <div *ngIf="province.touched && district.touched && ward.touched && road.touched">
                  <small *ngIf="province.invalid || district.invalid || ward.invalid || road.invalid">Vui lòng điền đầy
                    đủ điểm đến và đường</small>
                </div>
              </div>
              <label class="form-label">Số Lượng Khách:</label>
              <div class="row">
                <input #availability="ngModel" class="form-control" name="availableSpaces" type="number" min="10"
                  max="200" placeholder="Giới hạn từ 10 đến 200" ngModel="{{editTour.availableSpaces}}" required>
                <small *ngIf="availability.touched && availability.value < 10">Số lượng phải từ 10 trở lên</small>
                <small *ngIf="availability.touched && availability.value > 200">Số lượng vượt quá 200</small>
              </div>
              <label class="form-label">Mô Tả:</label>
              <div class="row">
                <textarea #description="ngModel" name="description" id="" rows="6" ngModel="{{editTour.description}}"
                  required></textarea>
                <small *ngIf="description.touched && description.invalid">Vui lòng điền mô tả</small>
              </div>
            </div>
            <div class="modal-footer">
              <div>
                <small>Lưu ý sau khi thêm Tour chỉ có thể chỉnh sửa [Số lượng], [Hình] và [Mô tả]</small>
              </div>
              <button type="submit" class="btn btn-primary" (click)="modal.close('Save click')"
                [disabled]="!editForm.valid">Submit</button>
            </div>
          </form>
        </ng-template>

        <!-- Delete Modal -->
        <ng-template #deleteModal let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Thêm Tour</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <form #addForm="ngForm" class="container" (ngSubmit)="submitAdd(addForm)">
            <div class="modal-body">
              <label class="form-label">Tên Tour:</label>
              <div class="row">
                <input #name="ngModel" class="form-control" type="text"
                  placeholder="VD: Chuyến đi gia đình đến Phú Quốc" name="name" ngModel required>
                <small *ngIf="name.touched && name.invalid">Tên không được trống</small>
              </div>
              <label class="form-label">Điểm đến:</label>
              <div class="row">
                <select #province="ngModel" class="form-control col-md-4" name="province" (change)="provinceChange()"
                  id="province" ngModel required>
                  <option value="">Chọn Tỉnh/Thành Phố</option>
                </select>
                <select #district="ngModel" class="form-control col-md-4" name="district" (change)="districtChange()"
                  id="district" ngModel required>
                  <option value="">Chọn Quận/Huyện</option>
                </select>
                <select #ward="ngModel" class="form-control col-md-4" name="ward" (change)="wardChange()" id="ward"
                  ngModel required>
                  <option value="">Chọn Phường/Xã</option>
                </select>
              </div>
              <label class="form-label">Đường:</label>
              <div class="row">
                <input #road="ngModel" class="form-control" name="road" type="text" placeholder="VD: Số 123, Đường ABC"
                  ngModel required>
              </div>
              <div>
                <div *ngIf="province.touched && district.touched && ward.touched && road.touched">
                  <small *ngIf="province.invalid || district.invalid || ward.invalid || road.invalid">Vui lòng điền đầy
                    đủ điểm đến và đường</small>
                </div>
              </div>
              <label class="form-label">Số Lượng Khách:</label>
              <div class="row">
                <input #availability="ngModel" class="form-control" name="availableSpaces" type="number" min="10"
                  max="200" placeholder="Giới hạn từ 10 đến 200" ngModel required>
                <small *ngIf="availability.touched && availability.value < 10">Số lượng phải từ 10 trở lên</small>
                <small *ngIf="availability.touched && availability.value > 200">Số lượng vượt quá 200</small>
              </div>
              <label class="form-label">Mô Tả:</label>
              <div class="row">
                <textarea #description="ngModel" name="description" id="" rows="6" ngModel required></textarea>
                <small *ngIf="description.touched && description.invalid">Vui lòng điền mô tả</small>
              </div>
            </div>
            <!-- <img [src]="imgSrc" alt="">IMG -->
            <div class="modal-footer">
              <div>
                <small>Lưu ý sau khi thêm Tour chỉ có thể chỉnh sửa [Số lượng], [Hình] và [Mô tả]</small>
              </div>
              <button type="submit" class="btn btn-primary" (click)="modal.close('Save click')"
                [disabled]="!addForm.valid">Submit</button>
            </div>
          </form>
        </ng-template>

        <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" class="table row-border hover"></table>
        </div>
      </div>
    </div>
  </div>
</div>
