<p-toast key="success"></p-toast>
<p-toast key="error"></p-toast>
<p-toast key="warn"></p-toast>
<p-toast key="info"></p-toast>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Danh sách Tour</h4>
    <button pButton icon="pi pi-plus" class="btn btn-success mb-3" (click)="open('add', null)">Thêm Tour</button>

    <!-- Add Modal -->
    <ng-template #addModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Thêm Tour</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
      </div>
      <form #addForm="ngForm" class="container" (ngSubmit)="submitAdd(addForm)">
        <div class="modal-body">
          <label class="form-label">Tên Tour:</label>
          <div class="row">
            <input #name="ngModel" class="form-control" type="text" placeholder="VD: Chuyến đi gia đình đến Phú Quốc"
              name="name" ngModel [maxlength]="50" required>
            <small *ngIf="name.touched && name.invalid">Tên không được trống</small>
          </div>
          <label class="form-label">Điểm đến:</label>
          <div class="row">
            <select #province="ngModel" class="form-control col-md-4" name="province" (change)="provinceChange()"
              id="province" ngModel required>
              <option value="">Chọn Tỉnh/Thành Phố</option>
            </select>
            <select #district="ngModel" class="form-control col-md-4" name="district" (change)="districtChange()"
              id="district" ngModel required>
              <option value="">Chọn Quận/Huyện</option>
            </select>
            <select #ward="ngModel" class="form-control col-md-4" name="ward" id="ward" ngModel required>
              <option value="">Chọn Phường/Xã</option>
            </select>
          </div>
          <label class="form-label">Đường:</label>
          <div class="row">
            <input #road="ngModel" class="form-control" name="road" type="text" placeholder="VD: Số 123, Đường ABC"
              ngModel required>
          </div>
          <div>
            <div *ngIf="province.touched && district.touched && ward.touched && road.touched">
              <small *ngIf="province.invalid || district.invalid || ward.invalid || road.invalid">Vui lòng điền đầy
                đủ điểm đến và đường</small>
            </div>
          </div>
          <label class="form-label">Số Lượng Khách:</label>
          <div class="row">
            <input #availability="ngModel" class="form-control" name="availableSpaces" type="number" min="10" max="200"
              placeholder="Giới hạn từ 10 đến 200" ngModel required>
            <small *ngIf="availability.touched && availability.value < 10">Số lượng phải từ 10 trở lên</small>
            <small *ngIf="availability.touched && availability.value > 200">Số lượng vượt quá 200</small>
          </div>
          <div class="row">
            <div class="col-6">
              <label class="form-label">Người lớn:</label>
              <div class="input-group">
                <input #adultPrice="ngModel" name="adult" type="number" class="form-control" ngModel required>
                <span class="input-group-text" id="basic-addon2">.000 VNĐ</span>
              </div>
              <small *ngIf="adultPrice.touched && adultPrice.value < 0">Giá vé người lớn không được là số âm</small>
              <small *ngIf="adultPrice.touched && adultPrice.value < childerenPrice.value && adultPrice.value >= 0">Giá
                vé người lớn không
                được nhỏ hơn trẻ em</small>
            </div>
            <div class="col-6">
              <label class="form-label">Trẻ em:</label>
              <div class="input-group">
                <input #childerenPrice="ngModel" name="children" type="number" class="form-control" ngModel required>
                <span class="input-group-text" id="basic-addon2">.000 VNĐ</span>
              </div>
              <small *ngIf="childerenPrice.touched && childerenPrice.value < 0">Giá vé trẻ em không được là số
                âm</small>
              <small
                *ngIf="childerenPrice.touched && childerenPrice.value > adultPrice.value && childerenPrice.value >= 0">Giá
                vé trẻ không được
                lớn hơn giá người lớn</small>
            </div>
          </div>
          <label class="form-label">Ảnh Bìa</label>
          <div class="row">
            <input class="form-control" type="file" accept="image/*" (change)="onFileChange($event)">
            <img [src]="mainImgUrl" alt="">
          </div>
          <label class="form-label">Mô Tả:</label>
          <div class="row">
            <textarea #description="ngModel" name="description" id="" rows="6" ngModel required></textarea>
            <small *ngIf="description.touched && description.invalid">Vui lòng điền mô tả</small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" (click)="modal.close('Save click')"
            [disabled]="checkValid('add',addForm)">Thêm</button>
        </div>
      </form>
    </ng-template>

    <!-- Edit Modal -->
    <ng-template #editModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Chỉnh Sửa Tour</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
      </div>
      <form #editForm="ngForm" class="container" (ngSubmit)="submitEdit(editForm)">
        <div class="modal-body">
          <label class="form-label">Tên Tour:</label>
          <div class="row">
            <input #name="ngModel" class="form-control" type="text" placeholder="VD: Chuyến đi gia đình đến Phú Quốc"
              name="name" ngModel="{{editTour.name}}" [maxlength]="50" required>
            <small *ngIf="name.touched && name.invalid">Tên không được trống</small>
          </div>
          <label class="form-label">Điểm đến:</label>
          <div class="row">
            <select class="form-control col-md-4" name="province" (change)="provinceChange()" id="province" required>
              <option value="">Chọn Tỉnh/Thành Phố</option>
            </select>
            <select class="form-control col-md-4" name="district" (change)="districtChange()" id="district" required>
              <option value="">Chọn Quận/Huyện</option>
            </select>
            <select class="form-control col-md-4" name="ward" id="ward" required>
              <option value="">Chọn Phường/Xã</option>
            </select>
          </div>
          <label class="form-label">Đường:</label>
          <div class="row">
            <input #road="ngModel" class="form-control" name="road" type="text" placeholder="VD: Số 123, Đường ABC"
              ngModel="{{roadValue}}" required>
          </div>
          <div>
            <div *ngIf="road.touched">
              <small *ngIf="road.invalid">Vui lòng điền đầy
                đủ điểm đến và đường</small>
            </div>
          </div>
          <label class="form-label">Số Lượng Khách:</label>
          <div class="row">
            <input #availability="ngModel" class="form-control" name="availableSpaces" type="number" min="10" max="200"
              placeholder="Giới hạn từ 10 đến 200" ngModel="{{editTour.availableSpaces}}" required>
            <small *ngIf="availability.touched && availability.value < 10">Số lượng phải từ 10 trở lên</small>
            <small *ngIf="availability.touched && availability.value > 200">Số lượng vượt quá 200</small>
          </div>
          <div class="row">
            <div class="col-6">
              <label class="form-label">Người lớn:</label>
              <div class="input-group">
                <input #adultPrice="ngModel" name="adult" type="number" class="form-control"
                  ngModel="{{editTour.price.adultPrice}}" required>
                <span class="input-group-text" id="basic-addon2">.000 VNĐ</span>
              </div>
              <small *ngIf="adultPrice.touched && adultPrice.value < 0">Giá vé người lớn không được là số âm</small>
              <small *ngIf="adultPrice.touched && adultPrice.value < childerenPrice.value && adultPrice.value >= 0">Giá
                vé người lớn không
                được nhỏ hơn trẻ em</small>
            </div>
            <div class="col-6">
              <label class="form-label">Trẻ em:</label>
              <div class="input-group">
                <input #childerenPrice="ngModel" name="children" type="number" class="form-control"
                  ngModel="{{editTour.price.childrenPrice}}" required>
                <span class="input-group-text" id="basic-addon2">.000 VNĐ</span>
              </div>
              <small *ngIf="childerenPrice.touched && childerenPrice.value < 0">Giá vé trẻ em không được là số
                âm</small>
              <small
                *ngIf="childerenPrice.touched && childerenPrice.value > adultPrice.value && childerenPrice.value >= 0">Giá
                vé trẻ không được
                lớn hơn giá người lớn</small>
            </div>
          </div>
          <label class="form-label">Ảnh Bìa</label>
          <div class="row">
            <input class="form-control" type="file" accept="image/*" (change)="onFileChange($event)">
            <img [src]="mainImgUrl" alt="">
          </div>
          <label class="form-label">Mô Tả:</label>
          <div class="row">
            <textarea #description="ngModel" name="description" id="" rows="6" ngModel="{{editTour.description}}"
              required></textarea>
            <small *ngIf="description.touched && description.invalid">Vui lòng điền mô tả</small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" (click)="modal.close('Save click')"
            [disabled]="checkValid('edit',editForm)">Thay đổi</button>
        </div>
      </form>
    </ng-template>

    <!-- Image Modal -->
    <ng-template #imageModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ảnh Tour</h4>
        <button pButton icon="pi pi-plus" id="addImageBtn" class="btn btn-success ml-3">Thêm Ảnh</button>
        <input id="addImageInput" (change)="saveNewImage($event)" type="file" accept="image/*" hidden>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
      </div>
      <div class="modal-body">
        <table *ngIf="tourImageList.length > 0" class="table table-hover align-middle text-nowrap table-bordered">
          <tbody>
            <tr *ngFor="let img of tourImageList">
              <td align="center">
                <img width="200" [src]="img.path" alt="">
              </td>
              <td align="center">
                <button class="btn btn-warning" (click)="updateImage(img.id)">Chỉnh
                  sửa</button>
                <input id="image_{{img.id}}" (change)="changeImage($event, img.id)" type="file" accept="image/*" hidden>
              </td>
              <td align="center">
                <button (click)="confirmDelete('image',img.id)" class="btn btn-danger">Xóa</button>
              </td>
            </tr>
          </tbody>
        </table>
        <h5 *ngIf="tourImageList.length == 0" class="text-center">Hiện Chưa Có Ảnh Nào Được Thêm Vào</h5>
      </div>
    </ng-template>

    <!-- Tour Date Modal -->
    <ng-template #dateModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title mr-3" id="modal-basic-title">Ngày hoạt động</h4>
        <button pButton icon="pi pi-plus" class="btn btn-success" (click)="addDate()" *ngIf="!addDateStatus">Thêm
          ngày</button>
        <input id="addDate" pInputText type="date" *ngIf="addDateStatus" min="{{minDate | date:'yyyy-MM-dd'}}">
        <button pButton class="p-button-success" icon="pi pi-check" (click)="saveDate()"
          *ngIf="addDateStatus">Thêm</button>
        <button pButton class="p-button-danger" icon="pi pi-times" (click)="cancelAddDate()"
          *ngIf="addDateStatus">Hủy</button>
        <button id="closeDateModal" type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
      </div>
      <div class="modal-body">
        <p-table *ngIf="tourDateList.length > 0" #dt2 [value]="tourDateList" sortField="initiateDate" [sortOrder]=-1 dataKey="id" [rows]="10"
          [showCurrentPageReport]="true" [paginator]="true" editMode="row"
          currentPageReportTemplate="Hiển thị từ bảng {first} đến {last} trong tổng {totalRecords} bảng"
          [globalFilterFields]="['initiateDate']">
          <ng-template pTemplate="caption">
            <div class="flex">
              <form [formGroup]="formFilter">
                <span class="p-input-icon-left ml-auto">
                  <input pInputText type="text" (change)="dt2.filterGlobal(getValueSearch(), 'contains')"
                    formControlName="search" class="form-control box-shadow-none" placeholder="Tìm kiếm">
                </span>
              </form>
            </div>
          </ng-template>
          <ng-template pTemplate="header" class="theader">
            <tr>
              <th pSortableColumn="id" style="width:25%">Id<p-sortIcon field="id"></p-sortIcon></th>
              <th pSortableColumn="initiateDate" style="width:25%">Thời điểm khởi hành<p-sortIcon
                  field="initiateDate"></p-sortIcon></th>
              <th pSortableColumn="status.name" style="width:20%">Trạng thái<p-sortIcon
                  field="status.name"></p-sortIcon>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" class="tbody" let-tourDateList let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="tourDateList">
              <td>
                {{ tourDateList.id }}
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="date" [(ngModel)]="tourDateList.initiateDate"
                      min="{{minDate | date:'yyyy-MM-dd'}}">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ tourDateList.initiateDate | date: 'dd-MM-yyyy' }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <select class="form-control" [(ngModel)]="tourDateList.status.id" required>
                      <option *ngFor="let item of statusList" value="{{item.id}}">{{item.name}}</option>
                    </select>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ tourDateList.status.name}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <div class="button-group">
                  <button pButton pRipple *ngIf="!editing" class="btn btn-info"
                    [routerLink]="['/admin/tour/date/'+tourDateList.id]" (click)="modal.close()" icon="pi pi-book">Kế
                    Hoạch</button>
                  <button *ngIf="!editing && tourDateList.status.id != 3" pButton pRipple type="button" pInitEditableRow
                    icon="pi pi-pencil" (click)="onRowEditInit(tourDateList)" class="btn btn-warning">Sửa</button>
                  <button pButton pRipple *ngIf="!editing" class="btn btn-danger"
                    (click)="checkDeleteable('date',tourDateList.id)" icon="pi pi-times-circle">Xóa</button>
                  <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                    (click)="onRowEditSave(tourDateList, ri)"
                    class="p-button-rounded p-button-text p-button-success mr-2"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                    (click)="onRowEditCancel(tourDateList, ri)"
                    class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <h5 *ngIf="tourDateList.length == 0" class="text-center">Hiện Chưa Có Ngày Nào Được Thêm Vào</h5>
      </div>
    </ng-template>

    <!-- Confirm Delete Modal -->
    <ng-template #confirmModal let-modal>
      <div class="modal-header">
        <b>Vui lòng xác nhận</b>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc muốn xóa? Một khi đã xóa sẽ không thể khôi phục lại
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="modal.close()">Hủy bỏ</button>
        <button id="confirmDelete" class="btn btn-danger" (click)="modal.close()">Xác nhận</button>
      </div>
    </ng-template>

    <!-- Main Table -->
    <div class="table-responsive">
      <p-table #dt1 [value]="tourList" sortField="active" [sortOrder]=-1 dataKey="id" [rows]="10"
        [showCurrentPageReport]="true" [paginator]="true"
        currentPageReportTemplate="Hiển thị từ bảng {first} đến {last} trong tổng {totalRecords} bảng"
        [globalFilterFields]="['name', 'destinationAddress']">
        <ng-template pTemplate="caption">
          <div class="flex">
            <form [formGroup]="formFilter">
              <span class="p-input-icon-left ml-auto">
                <input pInputText type="text" (change)="dt1.filterGlobal(getValueSearch(), 'contains')"
                  formControlName="search" class="form-control box-shadow-none" placeholder="Tìm kiếm">
              </span>
            </form>
          </div>
        </ng-template>
        <ng-template pTemplate="header" class="theader">
          <tr>
            <th pSortableColumn="name" style="width:15%">Tên Tour<p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="destinationAddress" style="width:35%">Điểm đến<p-sortIcon
                field="destinationAddress"></p-sortIcon></th>
            <th pSortableColumn="active" style="width:12%">Trạng thái<p-sortIcon field="active"></p-sortIcon></th>
            <th pSortableColumn="availableSpaces" style="width:12%">Số lượng<p-sortIcon
                field="availableSpaces"></p-sortIcon></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" class="tbody" let-tourList>
          <tr>
            <td>{{ tourList.name }}</td>
            <td>{{ tourList.destinationAddress }}</td>
            <td>{{ tourList.active ? "Công khai" : "Ẩn"}}</td>
            <td>{{ tourList.availableSpaces}}</td>
            <td class="button-group">
              <button pButton class="btn btn-info" (click)="open('date', tourList.id)"
                icon="pi pi-calendar">Ngày</button>
              <button pButton class="btn btn-primary" (click)="open('image', tourList.id)"
                icon="pi pi-calendar">Ảnh</button>
              <button pButton class="btn btn-warning" (click)="open('edit', tourList.id)"
                icon="pi pi-file-edit">Sửa</button>
              <button pButton class="btn btn-success" (click)="updateActive(tourList)" icon="pi pi-eye"
                *ngIf="tourList.active == false">Hiện</button>
              <button pButton class="btn btn-danger" (click)="updateActive(tourList)" icon="pi pi-eye-slash"
                *ngIf="tourList.active != false">ẨN</button>
              <button pButton class="btn btn-danger" (click)="checkDeleteable('tour',tourList.id)"
                icon="pi pi-times-circle">Xóa</button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
