<div class="card p-4">
  <h4 class="text-left text-info">DANH SÁCH BOOKING</h4>
  <div class="table-responsive">
    <table class="table table-hover align-middle text-nowrap">
      <thead class="text-center">
        <th class="col-md-1">STT</th>
        <th class="col-md-1">ID</th>
        <th class="col-md-2">Ngày đặt</th>
        <th class="col-md-2 text-left">Họ và tên</th>
        <th class="col-md-2 text-left">Số điện thoại</th>
        <th class="col-md-2">Email</th>
        <th class="col-md-1">Trạng thái</th>
        <th class="col-md-1"></th>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings,index as i">
          <td>{{i+1}}</td>
          <td class="text-center">{{booking.id}}</td>
          <td class="text-center">{{booking.tourDate.initiateDate}}</td>
          <td>{{booking.account.fullname}}</td>
          <td class="text-left">{{booking.account.phone}}</td>
          <td>{{booking.account.email}}</td>
          <td class="text-center">{{booking.status}}</td>
          <td class="text-center">
            <button class="btn btn-info" [routerLink]="['/admin/manage/booking/detail/'+booking.id]"><i class="bi bi-card-list"></i></button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
