<div class="card p-4">
  <h4 class="text-left text-info">DANH SÁCH BOOKING</h4>
  <div class="table-responsive">
    <table class="table table-hover align-middle text-nowrap">
      <thead class="text-center">
        <th class="col-md-1">STT</th>
        <th class="col-md-1">ID</th>
        <th class="col-md-2 text-left">Họ và tên</th>
        <th class="col-md-2 text-left">Số điện thoại</th>
        <th class="col-md-2">Email</th>
        <th class="col-md-2">Tổng tiền</th>
        <th class="col-md-1">Trạng thái</th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings,index as i">
          <td class="text-center">{{i+1}}</td>
          <td class="text-center">{{booking.id}}</td>
          <td>{{booking.createUser.fullname}}</td>
          <td class="text-left">{{booking.createUser.phone}}</td>
          <td>{{booking.createUser.email}}</td>
          <td class="text-right">{{booking.totalPrice}} VNĐ</td>
          <td class="text-center">{{booking.updateTime |date:'dd-MM-yyyy'}}</td>
          <td class="text-center" [ngSwitch]="booking.status">
            <span *ngSwitchCase="0" class="badge bg-secondary">
              Chưa thanh toán
            </span>
            <span *ngSwitchCase="1" class="badge bg-success">
              Đã thanh toán
            </span>
            <span *ngSwitchCase="2" class="badge bg-danger">
              Đã hủy
            </span>
          </td>
          <td class="text-center">
            <button class="btn btn-info" [routerLink]="['/admin/manage/booking/detail/'+booking.id]"><i
                class="bi bi-card-list"></i></button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
