<!-- <appHeader></appHeader> -->

<!-- NAV -->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="index.html">Piltover<span>Du lịch khắp nơi</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="/" class="nav-link">Trang chủ</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">Giới thiệu</a></li>
        <!-- Menu Tour -->
        <li class="nav-item">
          <a class="nav-link" href="/destination">
            Tour du lịch
          </a>
        </li>
        <!-- End Menu Tour -->
        <li class="nav-item"><a href="/contact" class="nav-link">Liên hệ</a></li>
        <li class="nav-item"><a href="/post" class="nav-link">Bài viết</a></li>
        <li class="nav-item" [hidden]="!isLoggedIn"><a href="/history" class="nav-link">Lịch sử</a></li>
        <!-- Tài khoản -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">

            <b [hidden]="!isLoggedIn">
              <span>{{accountName}}</span>
            </b>
            <b [hidden]="isLoggedIn"><span>Tài khoản</span></b>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [hidden]="isLoggedIn" routerLink="/auth/login">Đăng nhập</a></li>
            <li><a class="dropdown-item" [hidden]="isLoggedIn" routerLink="/auth/sign-up">Đăng ký</a></li>


            <li><a class="dropdown-item" [hidden]="!isLoggedIn" routerLink="/auth/forgot-pass">Thay đổi thông tin</a>
            </li>
            <li><a class="dropdown-item" [hidden]="!isLoggedIn" *ngIf="['ROLE_ADMIN'].indexOf(role)!==-1"
                routerLink="/admin/dashboard">Trang quản trị</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" [hidden]="isLoggedIn" routerLink="/auth/forgot-pass">Quên mật khẩu</a></li>
            <li><a class="dropdown-item" (click)="logOut()" [hidden]="!isLoggedIn">Đăng xuất</a></li>
          </ul>
        </li>
        <!--End Tài khoản -->

      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->

<router-outlet></router-outlet>
<!--Chat-->
<div>
  <button class="open-button" (click)="openForm()">Chat</button>

  <div class="chat-popup" id="myForm">
    <form (ngSubmit)="summitForm()" class="form-container">
      <i class="fa-solid fa-chalkboard-user"></i>
      <h3>Piltover Travel sẵn lòng giúp đỡ bạn</h3>

      <label>Bạn cần giúp đỡ?</label>
      <textarea placeholder="Nhập tin nhắn" required></textarea>

      <button type="submit" class="btn">Send</button>
      <button type="button" class="btn cancel" (click)="closeForm()">Close</button>
    </form>
  </div>
</div>
<!--End chat-->


<footer class="ftco-footer bg-bottom ftco-no-pt" style="background-image: url(assets/images/bg_3.jpg);">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md pt-5">
        <div class="ftco-footer-widget pt-md-5 mb-4">
          <h2 class="ftco-heading-2">Liên hệ</h2>
          <p><i class="fa fa-telephone"></i> Di động : 0948342123</p>
          <p><i class="bi bi-shop"></i> Địa chỉ : Ninh Kiều - Cần Thơ</p>
          <p><i class="bi bi-clock-history"></i> Giờ làm việc : 7h - 22h, T2 - T7</p>
          <p><i class="bi bi-envelope"></i> Email: thinhne607@gmail.com</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
            <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md pt-5 border-left">
        <div class="ftco-footer-widget pt-md-5 mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Hướng dẫn</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Giới thiệu</a></li>
            <li><a href="#" class="py-2 d-block">Liên hệ</a></li>
            <li><a href="#" class="py-2 d-block">Hướng dẫn thanh toán</a></li>
            <li><a href="#" class="py-2 d-block">Hủy và đổi vé</a></li>
            <li><a href="#" class="py-2 d-block">Chăm sóc khách hàng</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md pt-5 border-left">
        <div class="ftco-footer-widget pt-md-5 mb-4">
          <h2 class="ftco-heading-2">Thông tin</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Khuyến mãi</a></li>
            <li><a href="#" class="py-2 d-block">Cẩm nang du lịch</a></li>

          </ul>
        </div>
      </div>
      <div class="col-md pt-5 border-left">
        <div class="ftco-footer-widget pt-md-5 mb-4">
          <h2 class="ftco-heading-2">Giới thiệu</h2>
          <div class="block-23 mb-3">
            <ul>
              <iframe width="430" height="315" src="https://www.youtube.com/embed/Au6LqK1UH8g?si=Oxomnucb57TFsfyl"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          FPT Polytechnic &copy;
          <script>document.write(new Date().getFullYear());</script> | Được tạo bởi nhóm Piltover

          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- <app-footer></app-footer> -->
