<div class="card">
  <div class="card-body">
    <!-- title -->
    <h4 class="card-title">Top 10 doanh thu khách sạn cao nhất</h4>
    <!-- title -->
    <div class="table-responsive">
      <table class="table align-middle mb-0">
        <thead>
          <tr>
            <th class="text-dark font-medium fs-4 text-center">STT</th>
            <!-- Tên tour -->
            <th
              class="text-dark font-medium fs-4 text-center clickable"
              (click)="sortBy('hotel_name')"
            >
              Tên khách sạn
              <span class="icon"> <i class="fa fa-sort"></i></span>
            </th>
            <!-- Giá người lớn -->
            <th
              class="text-dark font-medium fs-4 text-center clickable"
              (click)="sortBy('hotel_price')"
            >
              Giá khách sạn
              <span class="icon">
                <i class="fa fa-sort"></i>
              </span>
            </th>

            <!-- Thiếu thi đặt -->
            <th
              class="text-dark font-medium fs-4 text-center clickable"
              (click)="sortBy('total_hotel_booking')"
            >
              Tổng số đặt
              <span class="icon">
                <i class="fa fa-sort"></i>
              </span>
            </th>
            <!-- Tổng doanh thu -->
            <th
              class="text-dark font-medium fs-4 text-center clickable"
              (click)="sortBy('total_hotel_revenue')"
            >
              Tổng doanh thu
              <span class="icon">
                <i class="fa fa-sort"></i>
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ts of HotelRevenue; let i = index">
            <td>
              <h6 class="mb-0 font-medium text-center">{{ i + 1 }}</h6>
            </td>
            <td>
              <h6 class="mb-0 font-medium text-center">{{ ts.hotel_name }}</h6>
            </td>
            <td>
              <h6 class="mb-0 font-medium text-center">{{ formatCurrency(ts.hotel_price) }}</h6>
            </td>
            <td>
              <h6 class="mb-0 font-medium text-center">
                {{ ts.total_hotel_booking }}
              </h6>
            </td>
            <td>
              <h6 class="mb-0 font-medium text-center">
                {{ formatCurrency(ts.total_hotel_revenue) }}
              </h6>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
