<div class="form-group">
  <label for="start" style="margin-right: 5px;">Từ</label>
  <input type="date" name="begin" [(ngModel)]="startDate" (change)="updateDate()" class="date" placeholder="dd-mm-yyyy" min="2023-01-01" max="2023-12-31">
  <label for="start" style="margin-right: 5px;">Đến</label>
  <input type="date" name="end" [(ngModel)]="endDate" class="date" (change)="updateDate()" placeholder="dd-mm-yyyy" min="2023-01-01" max="2023-12-31">
  <a class="btn btn-outline-primary text-center" (click)="onFilterClick()" style="margin-bottom: 10px;">Lọc</a>
</div>
