<main *ngIf="currentTour">
  <!-- Nội dung trang chi tiết tour -->
  <section class="ftco-section ftco-no-pb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="tour-detail-wrap">
            <div class="row">
              <div class="col-lg-6">
                <img [src]="currentTour.image" alt="Tour Image"> <!-- Hình ảnh tour -->
              </div>
              <div class="col-lg-6">
                <div class="tour-detail-text">
                  <h2>{{currentTour.name}}</h2>
                  <p class="location"><i class="fa fa-map-marker"></i> Điểm đến: {{currentTour.destinationAddress}}</p>
                  <p class="location"><i class="fa fa-bus"></i> Phương tiện: {{currentTour.transport.name}}</p>
                  <p class="price"><i class="fa fa-money"></i> Giá vé:
                    Người lớn {{currentTour.price.adultPrice | number}}đ/người | Trẻ em
                    {{currentTour.price.childrenPrice | number}}đ/người</p>
                  <p class="tour-description">Mô tả về tour du lịch: {{currentTour.description}}</p>
                  <p class="tour-seats">Số lượng tối đa: {{currentTour.availableSpaces}}</p>
                  <button class="btn btn-primary" (click)="open(dateListModal)">Đặt tour</button>
                  <!-- <a href="#" class="btn btn-primary"><i class="fa fa-comments"></i> Liên hệ tư vấn</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <!-- Chương trình tour -->
  <section class="tour-program">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Chương trình Tour</h2>
          <p>Thêm nội dung chương trình tour ở đây.</p>
        </div>
        <div class="col-md-4">
          <!-- Khung cho phần "Lịch sử tour đã xem" -->
          <div class="card">
            <div class="card-header text-center">
              <h5>Lịch sử tour đã xem</h5>
            </div>
            <ul class="list-unstyled">
              <!-- Tour 1 -->
              <a href="">
                <li class="media">
                  <img src="../assets/images/destination-1.jpg" class="mr-3 align-self-center" alt="Tour 1"
                    style="width: 100px; height: 100px; padding:5px 5px;">
                  <div class="media-body text-center">
                    <h5 class="mt-0 mb-1">Tour 1</h5>
                    <p> 5,390,000đ/người</p>
                  </div>
                </li>
              </a>
              <br>
              <!-- Tour 2 -->
              <a href="">
                <li class="media">
                  <img src="../assets/images/destination-2.jpg" class="mr-3 align-self-center" alt="Tour 1"
                    style="width: 100px; height: 100px; padding:5px 5px;">
                  <div class="media-body text-center">
                    <h5 class="mt-0 mb-1">Tour 2</h5>
                    <p>6,200,000đ/người</p>
                  </div>
                </li>
              </a>
              <!-- Thêm các tour khác tại đây -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-md-12 heading-section text-center ftco-animate">

          <h2 class="mb-4">Những Tour Khác Có Thể Bạn Sẽ Quan Tâm</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(../assets/images/destination-1.jpg);">
              <span class="price">5,390,000đ/người</span>
            </a>
            <div class="text p-4">
              <span class="days">2 ngày 3 đêm</span>
              <h3><a href="#">Nha Trang</a></h3>
              <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                Minh</p>
              <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
              <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
              <ul>
                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>

              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(../assets/images/destination-2.jpg);">
              <span class="price">5,390,000đ/người</span>
            </a>
            <div class="text p-4">
              <span class="days">2 ngày 3 đêm</span>
              <h3><a href="#">Nha Trang</a></h3>
              <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                Minh</p>
              <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
              <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
              <ul>
                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(../assets/images/destination-3.jpg);">
              <span class="price">5,390,000đ/người</span>
            </a>
            <div class="text p-4">
              <span class="days">2 ngày 3 đêm</span>
              <h3><a href="#">Nha Trang</a></h3>
              <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                Minh</p>
              <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
              <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
              <ul>
                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>

              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(../assets/images/destination-4.jpg);">
              <span class="price">5,390,000đ/người</span>
            </a>
            <div class="text p-4">
              <span class="days">2 ngày 3 đêm</span>
              <h3><a href="#">Nha Trang</a></h3>
              <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                Minh</p>
              <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
              <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
              <ul>
                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>

              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <ng-template #dateListModal let-modal>
    <div class="modal-header">
      <h2 class="modal-title mr-3" id="modal-basic-title">Ngày hoạt động</h2>
      <button id="closeDateModal" type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
    </div>
    <div class="modal-body">
      <p-table #dt1 class="table table-responsive table-bordered" *ngIf="tourDateList && tourDateList.length > 0" #dt
        [value]="tourDateList" sortField="initiateDate" [rows]="10" [showCurrentPageReport]="true" [paginator]="true"
        currentPageReportTemplate="Hiển thị từ bảng {first} đến {last} trong tổng {totalRecords} bảng"
        stateStorage="session" stateKey="statedemo-session">
        <ng-template pTemplate="header" class="theader">
          <tr class="text-center">
            <th style="width: 3rem"></th>
            <th pSortableColumn="initiateDate" style="width:23%">Thời điểm khởi hành<p-sortIcon
                field="initiateDate"></p-sortIcon></th>
            <th pSortableColumn="endDate" style="width:20%">Thời điểm kết thúc<p-sortIcon field="endDate"></p-sortIcon>
            </th>
            <th pSortableColumn="passengerNumber" style="width:20%">Số Khách Đã Đặt<p-sortIcon
                field="passengerNumber"></p-sortIcon></th>
            <th pSortableColumn="emptySpace" style="width:25%">Số Lượng Còn Trống<p-sortIcon
                field="emptySpace"></p-sortIcon></th>
            <th></th>
          </tr>
          <tr>
            <th></th>
            <th>
              <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'initiateDate', 'contains')"
                [value]="$any(dt1.filters['initiateDate'])?.value" placeholder="Lọc theo ngày bắt đầu" class="w-full">
            </th>
            <th>
              <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'endDate', 'contains')"
                [value]="$any(dt1.filters['endDate'])?.value" placeholder="Lọc theo ngày kết thúc" class="w-full">
            </th>
            <th></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" class="tbody" let-tourDateList let-expanded="expanded">
          <tr class="text-center">
            <td>
              <button type="button" pButton pRipple [pRowToggler]="tourDateList"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>
              {{ tourDateList.initiateDate | date: 'dd-MM-yyyy' }}
            </td>
            <td>
              {{ tourDateList.endDate | date: 'dd-MM-yyyy' }}
            </td>
            <td>
              {{ getBookedCustomerNumber(tourDateList.id)}}
            </td>
            <td>
              {{ currentTour.availableSpaces - getBookedCustomerNumber(tourDateList.id)}}
            </td>
            <td>
              <button class="btn btn-info" (click)="toCheckOut()">Chọn</button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-tourDateList>
          <tr>
            <td colspan="7">
              <div class="p-3">
                <p-table sortField="startTime" [value]="getPlanByDate(tourDateList.id)" dataKey="id">
                  <ng-template pTemplate="header">
          <tr class="text-center">
            <th pSortableColumn="startTime" style="width: 23%;">Thời gian khởi hành<p-sortIcon
                field="startTime"></p-sortIcon></th>
            <th pSortableColumn="startName" style="width: 30%;">Điểm đến<p-sortIcon field="startName"></p-sortIcon>
            </th>
            <th pSortableColumn="startAddress" style="width: 30%;">Địa chỉ<p-sortIcon field="startAddress"></p-sortIcon>
            </th>
            <th pSortableColumn="transport.name">Phương tiện<p-sortIcon field="transport.name"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-planList>
          <tr>
            <td>{{ planList.startTime | date:"HH:mm | dd-MM-yyyy" : "UTC"}}</td>
            <td>{{ planList.startName }}</td>
            <td>{{ planList.startAddress }}</td>
            <td>{{ planList.transport.name}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    </td>
    </tr>
  </ng-template>
  </p-table>
  <h5 *ngIf="tourDateList && tourDateList.length == 0" class="text-center">Hiện Chưa Có Ngày Nào Được Thêm Vào
  </h5>
  </div>
  </ng-template>
</main>