<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url(../assets/images/bg_1.jpg);">
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <h1 class="mb-0 bread">Chi Tiết Tour</h1>
      </div>
    </div>
  </div>
</section>
<main *ngIf="currentTour">
  <!-- Nội dung trang chi tiết tour -->
  <section class="ftco-section ftco-no-pb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="tour-detail-wrap">
            <div class="row">
              <div class="col-lg-7">
                <img [src]="currentTour.image" alt="Tour Image" style="width: 100%;"> <!-- Hình ảnh tour -->
              </div>
              <div class="col-lg-5">
                <div class="tour-detail-text">
                  <h2 style="font-weight: 800; font-size: 25px;">{{currentTour.name}}</h2>
                  <p class="location"><b><i class="fa fa-map-marker"></i> Điểm đến:</b>
                    {{currentTour.destinationAddress}}</p>
                  <p class="location"><b><i class="fa fa-bus"></i> Phương tiện:</b> {{currentTour.transport.name}}</p>
                  <p class="price"><b><i class="fa fa-money"></i> Giá vé:</b>
                    Người lớn {{currentTour.price.adultPrice | number}}đ/người | Trẻ em
                    {{currentTour.price.childrenPrice | number}}đ/người</p>
                  <p class="tour-seats"><b>Số lượng tối đa:</b> {{currentTour.availableSpaces}}</p>
                  <button *ngIf="currentTour.active" class="custom-button" (click)="open(dateListModal)"> Đặt tour
                  </button>
                  <i class="text-danger" *ngIf="currentTour.active == false">*Hiện Tour Đã Ngừng Hoạt Động Quý Khách Vui
                    Lòng Chọn Tour Khác</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <!-- Chương trình tour -->
  <section class="tour-program">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 style="font-weight:1000 ;">Mô Tả Tour</h1>
          <p style="font-size: 16px;">{{currentTour.description}}</p>
        </div>
        <div class="col-md-5">
          <!-- Khung cho phần "Lịch sử tour đã xem" -->

        </div>
      </div>
    </div>
  </section>
  <br>
  <!-- <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-md-12 heading-section text-center ftco-animate">

          <h2 class="mb-4" style="font-size: 30px;">Những Tour Khác Có Thể Bạn Sẽ Quan Tâm</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(../assets/images/destination-1.jpg);">
              <span class="price">5,390,000đ/người</span>
            </a>
            <div class="text p-4">
              <span class="days">2 ngày 3 đêm</span>
              <h3><a href="#">Nha Trang</a></h3>
              <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                Minh</p>
              <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
              <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
              <ul>
                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>

              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(../assets/images/destination-2.jpg);">
              <span class="price">5,390,000đ/người</span>
            </a>
            <div class="text p-4">
              <span class="days">2 ngày 3 đêm</span>
              <h3><a href="#">Nha Trang</a></h3>
              <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                Minh</p>
              <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
              <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
              <ul>
                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(../assets/images/destination-3.jpg);">
              <span class="price">5,390,000đ/người</span>
            </a>
            <div class="text p-4">
              <span class="days">2 ngày 3 đêm</span>
              <h3><a href="#">Nha Trang</a></h3>
              <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                Minh</p>
              <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
              <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
              <ul>
                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>

              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-3 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(../assets/images/destination-4.jpg);">
              <span class="price">5,390,000đ/người</span>
            </a>
            <div class="text p-4">
              <span class="days">2 ngày 3 đêm</span>
              <h3><a href="#">Nha Trang</a></h3>
              <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                Minh</p>
              <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
              <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
              <ul>
                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>

              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section> -->

  <ng-template #dateListModal let-modal>
    <div class="modal-header">
      <h2 class="modal-title mr-3" id="modal-basic-title">Ngày hoạt động</h2>
      <button id="closeDateModal" type="button" class="btn-close" aria-label="Close" (click)="modal.close()"></button>
    </div>
    <div class="modal-body">
      <p-table #dt1 class="table table-responsive table-bordered" *ngIf="tourDateList && tourDateList.length > 0" #dt
        [value]="tourDateList" sortField="initiateDate" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
        [paginator]="true"
        currentPageReportTemplate="Hiển thị từ bảng {first} đến {last} trong tổng {totalRecords} bảng"
        stateStorage="session" stateKey="statedemo-session">
        <ng-template pTemplate="header" class="theader">
          <tr class="text-center">
            <th style="width: 3rem"></th>
            <th pSortableColumn="initiateDate" style="width:20%">Thời điểm khởi hành<p-sortIcon
                field="initiateDate"></p-sortIcon></th>
            <th pSortableColumn="endDate" style="width:20%">Thời điểm kết thúc<p-sortIcon field="endDate"></p-sortIcon>
            </th>
            <th pSortableColumn="passengerNumber" style="width:22%">Số Khách Đã Đặt<p-sortIcon
                field="passengerNumber"></p-sortIcon></th>
            <th pSortableColumn="emptySpace" style="width:25%">Số Lượng Còn Trống<p-sortIcon
                field="emptySpace"></p-sortIcon></th>
            <th></th>
          </tr>
          <tr>
            <th></th>
            <th>
              <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'initiateDate', 'contains')"
                [value]="$any(dt1.filters['initiateDate'])?.value" placeholder="Lọc theo ngày bắt đầu" class="w-full">
            </th>
            <th>
              <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'endDate', 'contains')"
                [value]="$any(dt1.filters['endDate'])?.value" placeholder="Lọc theo ngày kết thúc" class="w-full">
            </th>
            <th></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" class="tbody" let-tourDateList let-expanded="expanded">
          <tr class="text-center"
            *ngIf="getBookedCustomerNumber(tourDateList.id) < tourDateList.tour.availableSpaces && getDateDiffer(currentDate,tourDateList.initiateDate) > 3">
            <td>
              <button type="button" pButton [pRowToggler]="tourDateList"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>
              {{ tourDateList.initiateDate | date: 'dd-MM-yyyy' }}
            </td>
            <td>
              {{ tourDateList.endDate | date: 'dd-MM-yyyy' }}
            </td>
            <td class="text-center">
              {{ getBookedCustomerNumber(tourDateList.id)}}
            </td>
            <td class="text-center">
              {{ currentTour.availableSpaces - getBookedCustomerNumber(tourDateList.id)}}
            </td>
            <td>
              <button class="btn btn-info" (click)="toCheckOut(tourDateList.id)">Chọn</button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-tourDateList>
          <tr>
            <td colspan="7">
              <div class="p-3">
                <p-table sortField="startTime" [value]="getPlanByDate(tourDateList.id)" dataKey="id">
                  <ng-template pTemplate="header">
          <tr class="text-center">
            <th pSortableColumn="startTime" style="width: 23%;">Thời gian khởi hành<p-sortIcon
                field="startTime"></p-sortIcon></th>
            <th pSortableColumn="startName" style="width: 30%;">Điểm đến<p-sortIcon field="startName"></p-sortIcon>
            </th>
            <th pSortableColumn="startAddress" style="width: 30%;">Địa chỉ<p-sortIcon field="startAddress"></p-sortIcon>
            </th>
            <th pSortableColumn="transport.name">Phương tiện<p-sortIcon field="transport.name"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-planList>
          <tr>
            <td>{{ planList.startTime | date:"HH:mm | dd-MM-yyyy" : "UTC"}}</td>
            <td>{{ planList.startName }}</td>
            <td>{{ planList.startAddress }}</td>
            <td>{{ planList.transport.name}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    </td>
    </tr>
  </ng-template>
  </p-table>
  <h5 *ngIf="tourDateList && tourDateList.length == 0" class="text-center">Hiện Chưa Có Ngày Nào Được Thêm Vào
  </h5>
  </div>
  </ng-template>
</main>