<main>
    <!-- Nội dung trang chi tiết tour -->
    <section class="ftco-section ftco-no-pb">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="tour-detail-wrap">
                      <div class="row">
                          <div class="col-lg-6">
                            <img src="../assets/images/destination-1.jpg" alt="Tour Image"> <!-- Hình ảnh tour -->
  
                          </div>
                          <div class="col-lg-6">
                              <div class="tour-detail-text">
                                  <h2>Nha Trang - 2 ngày 3 đêm</h2>
                                  <p class="location"><i class="fa fa-map-marker"></i> Điểm khởi hành: TP.Hồ Chí
                                      Minh</p>
                                  <p class="location"><i class="fa fa-bus"></i> Phương tiện: Xe ghế ngồi</p>
                                  <p class="location"><i class="fa fa-calendar"></i> Ngày khởi hành: 07/09/2023</p>
                                  <p class="price"><i class="fa fa-money"></i> Giá: 5,390,000đ/người</p>
                                  <p class="tour-description">Mô tả về tour du lịch Nha Trang: Lorem ipsum dolor sit
                                      amet, consectetur adipiscing elit. Sed non nulla vel massa ultricies hendrerit.
                                      Suspendisse potenti. Nunc pellentesque quam nec lectus vehicula, ac ultricies
                                      tellus egestas. Sed nec quam ultrices, laoreet justo nec, vehicula justo.</p>
                                  <p class="tour-highlights">Điểm nổi bật:</p>
                                  <ul class="tour-highlights-list">
                                      <li>Tham quan biển Nha Trang tuyệt đẹp</li>
                                      <li>Thưởng thức các món ăn đặc sản vùng biển</li>
                                      <li>Tham quan các điểm tham quan nổi tiếng</li>
                                  </ul>
                                  <a href="#" class="btn btn-primary"><i class="fa fa-hand-o-right"></i> Đặt tour</a>
                                  <a href="#" class="btn btn-primary"><i class="fa fa-comments"></i> Liên hệ tư vấn</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <br>
  <!-- Chương trình tour -->
  <section class="tour-program">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Chương trình Tour</h2>
          <p>Thêm nội dung chương trình tour ở đây.</p>
        </div>
        <div class="col-md-4">
          <!-- Khung cho phần "Lịch sử tour đã xem" -->
          <div class="card">
            <div class="card-header text-center">
              <h5>Lịch sử tour đã xem</h5>
            </div>
            <ul class="list-unstyled">
              <!-- Tour 1 -->
              <a href="">
              <li class="media">
                <img src="../assets/images/destination-1.jpg" class="mr-3 align-self-center" alt="Tour 1" style="width: 100px; height: 100px; padding:5px 5px;">
                <div class="media-body text-center">
                  <h5 class="mt-0 mb-1">Tour 1</h5>
                  <p> 5,390,000đ/người</p>
                </div>
              </li>
            </a>
              <br>
              <!-- Tour 2 -->
              <a href="">
              <li class="media">
                <img src="../assets/images/destination-2.jpg" class="mr-3 align-self-center" alt="Tour 1" style="width: 100px; height: 100px; padding:5px 5px;">
                <div class="media-body text-center">
                  <h5 class="mt-0 mb-1">Tour 2</h5>
                  <p>6,200,000đ/người</p>
                </div>
              </li>
            </a>
              <!-- Thêm các tour khác tại đây -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-md-12 heading-section text-center ftco-animate">
  
          <h2 class="mb-4">Book Tour Ngay! Giá Rẻ Trong Ngày</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(../assets/images/destination-1.jpg);">
              <span class="price">5,390,000đ/người</span>
            </a>
            <div class="text p-4">
              <span class="days">2 ngày 3 đêm</span>
              <h3><a href="#">Nha Trang</a></h3>
              <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                Minh</p>
              <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
              <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
              <ul>
                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>
  
              </ul>
            </div>
          </div>
        </div>
  
        <div class="col-md-3 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(../assets/images/destination-2.jpg);">
              <span class="price">5,390,000đ/người</span>
            </a>
            <div class="text p-4">
              <span class="days">2 ngày 3 đêm</span>
              <h3><a href="#">Nha Trang</a></h3>
              <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                Minh</p>
              <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
              <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
              <ul>
                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>
  
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(../assets/images/destination-3.jpg);">
              <span class="price">5,390,000đ/người</span>
            </a>
            <div class="text p-4">
              <span class="days">2 ngày 3 đêm</span>
              <h3><a href="#">Nha Trang</a></h3>
              <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                Minh</p>
              <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
              <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
              <ul>
                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>
  
              </ul>
            </div>
          </div>
        </div>
  
        <div class="col-md-3 ftco-animate">
          <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(../assets/images/destination-4.jpg);">
              <span class="price">5,390,000đ/người</span>
            </a>
            <div class="text p-4">
              <span class="days">2 ngày 3 đêm</span>
              <h3><a href="#">Nha Trang</a></h3>
              <p class="location"><span class="fa fa-map-marker"></span> Điểm khởi hành: TP.Hồ Chí
                Minh</p>
              <p class="location"><span class="fa fa-bus"></span> Phương tiện: Xe ghế ngồi</p>
              <p class="location"><span class="fa fa-calendar"></span> Ngày khởi hành: 07/09/2023</p>
              <ul>
                <li><span class="ml-auto"></span><a href="">>> Xem thêm</a></li>
  
              </ul>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  </main>