<div class="card">
  <div class="card-body">
    <form [formGroup]="formAccountData" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="mb-3 col-sm-12 col-md-4">
          <label for="email" class="form-label">Email: </label>
          <input class="form-control" id="email" formControlName="email" name="email" type="email">
          <small *ngIf="!formAccountData.controls.email.valid && this.submitted" class="text-danger">Vui lòng nhập
            email</small>
        </div>
        <div class="mb-3 col-sm-12 col-md-4">
          <label for="password" class="form-label">Mật khẩu: </label>
          <input class="form-control" id="password" formControlName="password" name="password" type="password">
          <small *ngIf="!formAccountData.controls.password.valid && this.submitted" class="text-danger">Vui lòng nhập
            mật khẩu</small>
        </div>
        <div class="mb-3 col-sm-12 col-md-4">
          <label for="phone" class="form-label">Số điện thoại: </label>
          <input class="form-control" id="phone" formControlName="phone" name="phone" type="text">
          <small *ngIf="!formAccountData.controls.phone.valid && this.submitted" class="text-danger">Vui lòng nhập
            số điện thoại</small>
        </div>
        <div class="mb-3 col-sm-12 col-md-4">
          <label for="fullname" class="form-label">Họ tên đầy đủ: </label>
          <input class="form-control" id="fullname" formControlName="fullname" name="fullname" type="text">
          <small *ngIf="!formAccountData.controls.fullname.valid && this.submitted" class="text-danger">Vui lòng nhập
            họ tên</small>
        </div>
        <div class="mb-3 col-sm-12 col-md-4">
          <label for="birthday" class="form-label">Ngày sinh: </label>
          <input class="form-control" name="birthday" [value]="'2001-01-01'" formControlName="birthday" id="birthday"
            type="date">
          <small *ngIf="!formAccountData.controls.birthday.valid && this.submitted" class="text-danger">Vui lòng nhập
            ngày sinh</small>
        </div>
        <div class="mb-3 col-sm-12 col-md-4">
          <label for="gender" class="form-label">Giới tính: </label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="gender" name="gender" id="inlineRadio1"
              [value]="true">
            <label class="form-check-label" for="inlineRadio1">Nam</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="gender" name="gender" id="inlineRadio2"
              [value]="false">
            <label class="form-check-label" for="inlineRadio2">Nữ</label>
          </div>
          <br>
          <small *ngIf="!formAccountData.controls.gender.valid && this.submitted" class="text-danger">Vui lòng chọn giới
            tính</small>
        </div>
        <div class="mb-3 col-sm-12 col-md-8">
          <label for="address" class="form-label">Địa chỉ: </label>
          <input class="form-control" id="address" formControlName="address" name="address" type="text">
          <small *ngIf="!formAccountData.controls.address.valid && this.submitted" class="text-danger">Vui lòng nhập
            địa chỉ</small>
        </div>
        <div class="mb-3 col-sm-12 col-md-4">
          <label for="active" class="form-label">Trạng thái: </label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="isDelete" name="isDelete" id="activeRadio1"
              [value]="false" checked>
            <label class="form-check-label" for="activeRadio1">Hoạt động</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="isDelete" name="isDelete" id="activeRadio2"
              [value]="true">
            <label class="form-check-label" for="activeRadio2">Không hoạt động</label>
          </div>
          <br>
          <small *ngIf="!formAccountData.controls.isDelete.valid && this.submitted" class="text-danger">Vui lòng chọn
            trạng
            thái</small>
        </div>

      </div>
      <div class="row p-3">
        <button type="submit" class="btn btn-primary me-2 mb-2 col-sm-5 col-md-2 col-lg-1"
          (click)="createAccount()">Thêm</button>
        <button class="btn btn-info me-2 mb-2 col-sm-5 col-md-2 col-lg-1" (click)="refreshForm()">Làm mới</button>
      </div>
    </form>
  </div>
</div>

<div class="card p-3">
  <h3 class="text-center">DANH SÁCH TÀI KHOẢN</h3>
  <div class="card">
    <p-table [value]="accounts" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Hiện từ {first} đến {last} trên tổng số {totalRecords} bảng ghi"
      [rowsPerPageOptions]="[5, 10, 20]">
      <ng-template pTemplate="header">
        <tr>

          <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
          <th pSortableColumn="fullname">Họ tên<p-sortIcon field="fullname"></p-sortIcon></th>
          <th pSortableColumn="phone">Số điện thoại<p-sortIcon field="phone"></p-sortIcon></th>
          <th pSortableColumn="birthday">Ngày sinh<p-sortIcon field="birthday"></p-sortIcon></th>
          <th pSortableColumn="isDelete">Trạng thái<p-sortIcon field="isDelete"></p-sortIcon></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.email}}</td>
          <td>{{item.fullname}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.birthday |
            date:'dd/MM/yyyy'}}</td>
          <td *ngIf="item.isDelete" class="text-danger text-center" style="font-size: 30px;"><i class="bi bi-lock"></i>
          </td>
          <td *ngIf="!item.isDelete" class="text-success text-center" style="font-size: 30px;" (click)="block(item.id)">
            <i class="bi bi-unlock"></i></td>
          <td class="text-warning text-center" style="font-size: 30px;" (click)="showAccountDetail(item)"><i
              class="bi bi-ticket-detailed"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>