<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover align-middle text-nowrap table-bordered">
        <thead>
          <tr>
            <th class="text-dark font-medium fs-4">Ngày</th>
            <th class="text-dark font-medium fs-4">Từ</th>
            <th class="text-dark font-medium fs-4">Đến</th>
            <th class="text-dark font-medium fs-4">Mô tả</th>
            <th class="text-dark font-medium fs-4"></th>
          </tr>
        </thead>
        <!-- <tbody>
          <tr *ngFor='let plan of tour.planList'>
            <td>
              {{plan.tourPlanID}}
            </td>
            <td>
              {{plan.startName}}
            </td>
            <td>
              {{plan.startAddress}}
            </td>
            <td>
              {{plan.startDate}}
            </td>
            <td></td>
            <td></td>
            <td>
              <div class="button-group">
                <button [routerLink]="['/admin/tour/details/'+plan.tourID+'/plan']" class="btn btn-success">Chi tiết</button>
                <button class="btn btn-danger">Hủy</button>
              </div>
            </td>
          </tr>
        </tbody> -->
      </table>
    </div>
  </div>
</div>
