<!-- NAV -->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html">Piltover<span>Du lịch khắp nơi</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="/" class="nav-link">Trang chủ</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">Giới thiệu</a></li>
          <!-- Menu Tour -->
          <li class="nav-item mega-dropdown">
            <a class="nav-link" href="/destination" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Tour du lịch
            </a>
            <div class="mega-dropdown-menu row" style="font-size: 14px;">
              <div class="row">
                <div class="col-3">
                  <ul>
                    <li><a class="dropdown-item" href="/destination">
                        <h5>Miền Nam</h5>
                      </a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Phú Quốc</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Vũng Tàu</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Côn Đảo</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Hà Tiên</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch miền Tây</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Cần Giờ</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Củ Chi</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Nam Du</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Cà Mau</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch miền Nam khác</a></li>
                  </ul>
                </div>

                <div class="col-3">
                  <ul>
                    <li><a class="dropdown-item" href="#">
                        <h5>Miền Trung</h5>
                      </a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Nha Trang</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Phan Thiết</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Mũi Né</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Ninh Chữ</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Phong Nha</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Đà Nẵng</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Huế</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Hội An</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Quy Nhơn</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Phú Yên</a></li>
                  </ul>
                </div>

                <div class="col-3">
                  <ul>
                    <li><a class="dropdown-item" href="#">
                        <h5>Miền Bắc</h5>
                      </a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Hà Nội</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Hạ Long</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch SaPa</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Ninh Bình</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Tây Bắc</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Hà Giang</a></li>
                  </ul>
                </div>
                <div class="col-3">
                  <ul>
                    <li><a class="dropdown-item" href="#">
                        <h5>Tây Nguyên</h5>
                      </a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Đà Lạt</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Buôn Ma Thuột</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Pleiku-Kontum</a></li>
                    <li><a class="dropdown-item" href="#">Du lịch Đăk Nông</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <!-- End Menu Tour -->
          <li class="nav-item"><a href="/contact" class="nav-link">Liên hệ</a></li>
          <li class="nav-item"><a href="/history" class="nav-link">Lịch sử</a></li>
          <!-- Tài khoản -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Tài khoản
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/authorization/login">Đăng nhập</a></li>
              <li><a class="dropdown-item" routerLink="/authorization/sign-up">Đăng ký</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" routerLink="/authorization/forgot-pass">Quên mật khẩu</a></li>
            </ul>
          </li>
          <!--End Tài khoản -->

        </ul>
      </div>
      </div>
  </nav>
<!-- END nav -->