<footer class="ftco-footer bg-bottom ftco-no-pt" style="background-image: url(assets/images/bg_3.jpg);">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md pt-5">
                <div class="ftco-footer-widget pt-md-5 mb-4">
                    <h2 class="ftco-heading-2">Liên hệ</h2>
                    <p><i class="fa fa-telephone"></i> Di động : 0948342123</p>
                    <p><i class="bi bi-shop"></i> Địa chỉ : Ninh Kiều - Cần Thơ</p>
                    <p><i class="bi bi-clock-history"></i> Giờ làm việc : 7h - 22h, T2 - T7</p>
                    <p><i class="bi bi-envelope"></i> Email: thinhne607@gmail.com</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                        <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md pt-5 border-left">
                <div class="ftco-footer-widget pt-md-5 mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Hướng dẫn</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Giới thiệu</a></li>
                        <li><a href="#" class="py-2 d-block">Liên hệ</a></li>
                        <li><a href="#" class="py-2 d-block">Hướng dẫn thanh toán</a></li>
                        <li><a href="#" class="py-2 d-block">Hủy và đổi vé</a></li>
                        <li><a href="#" class="py-2 d-block">Chăm sóc khách hàng</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md pt-5 border-left">
                <div class="ftco-footer-widget pt-md-5 mb-4">
                    <h2 class="ftco-heading-2">Thông tin</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Khuyến mãi</a></li>
                        <li><a href="#" class="py-2 d-block">Cẩm nang du lịch</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md pt-5 border-left">
                <div class="ftco-footer-widget pt-md-5 mb-4">
                    <h2 class="ftco-heading-2">Giới thiệu</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <iframe width="430" height="315"
                                src="https://www.youtube.com/embed/Au6LqK1UH8g?si=Oxomnucb57TFsfyl"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    FPT Polytechnic &copy;
                    <script>document.write(new Date().getFullYear());</script> | Được tạo bởi nhóm Piltover

                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>