<main>
  <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url(../assets/images/bg_1.jpg);">
    <!-- <div class="overlay"></div> -->
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
          <p class="breadcrumbs">
            <span class="mr-2"><a href="/">Trang chủ <i class="fa fa-chevron-right"></i></a></span>
            <span class="mr-2"><a href=""> Lịch sử đặt tour<i class="fa fa-chevron-right"></i></a></span>
          </p>
          <h1 class="mb-0 bread">Lịch sử đặt tour</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section services-section">
    <div class="tab-pane fade show active container">
      <div class="cart_inner text-dark" style="min-height: 360px !important;">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr class="table-info">
                <th class="col-sm-1 text-center">STT</th>
                <th scope="col" class="text-center">Mã tour</th>
                <th scope="col" class="text-center">Tổng tiền</th>
                <th scope="col" class="text-center">Ngày đặt</th>
                <th scope="col" class="text-center">Trạng thái</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let h of List,index as i">
                <td class="text-center">{{i+1}}</td>
                <td class="text-center">BoK_{{h.id}}</td>
                <td class="text-center">{{h.createTime|date:'dd-MM-yyyy'}}</td>
                <td class="text-center">{{h.totalPrice}} VNĐ</td>
                <td class="text-center" [ngSwitch]="h.status">
                  <div *ngSwitchCase="0" class="text-secondary">Chưa liên hệ</div>
                  <div *ngSwitchCase="1" class="text-success">Đã liên hệ</div>
                  <div *ngSwitchCase="2" class="text-danger-emphasis">Đã hủy</div>
                </td>
                <td>
                  <a class="btn btn-info" [routerLink]="['/history/detail/'+h.id]">
                    <i><span class="bi bi-plus-circle"></span></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <nav class="row justify-content-center mt-3"> <ul class="pagination"> <li class="page-item"> <a class="page-link" href="" ng-click="firstOderShip()"> <span aria-hidden="true">&laquo;</span> </a> </li> <li class="page-item"> <a class="page-link" href="" ng-click="prevOderShip()"> <span aria-hidden="true">&lsaquo;</span> </a> </li> <li class="page-item"> <a class="page-link" href="" ng-click="nextOderShip()"> <span aria-hidden="true">&rsaquo;</span> </a> </li> <li class="page-item"> <a class="page-link" href="" ng-click="lastOderShip()"> <span aria-hidden="true">&raquo;</span> </a> </li> </ul> </nav> -->
    </div>
  </section>
</main>
