<main>
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url(../assets/images/bg_1.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <p class="breadcrumbs">
                <span class="mr-2"><a href="/">Trang chủ <i class="fa fa-chevron-right"></i></a></span> 
                <span class="mr-2"><a href=""> Giới thiệu <i class="fa fa-chevron-right"></i></a></span>
            </p>
            <h1 class="mb-0 bread">Giới thiệu</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section services-section">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-12 order-md-last heading-section pl-md-5 ftco-animate d-flex align-items-center">
            <div class="w-100">
              <span class="subheading">Trải nghiệm Du lịch hoàn hảo</span>
              <h2 class="mb-4">Chào mừng bạn đến với Piltover</h2>
              <p>Chào mừng bạn đến với Piltover, trang web đặt tour du lịch đẳng cấp mang đến cho bạn những chuyến hành
                trình không thể quên. Với mục tiêu tạo ra những trải nghiệm du lịch tuyệt vời, Piltover tự hào là đối
                tác
                đáng tin cậy của bạn trong việc khám phá Việt Nam.</p>
              <p>Piltover sở hữu một bộ sưu tập phong phú các tour du lịch từ khắp nơi trên Việt Nam. Chúng tôi đảm bảo
                rằng mỗi chuyến đi của bạn sẽ đáp ứng mọi sở thích và mong muốn. Với sự hỗ trợ của đội ngũ chuyên nghiệp
                và giàu kinh nghiệm, chúng tôi sẽ giúp bạn tạo ra những kỷ niệm đáng nhớ suốt đời.</p>
              <p>
                Trang web Piltover có giao diện thân thiện và dễ sử dụng, cho phép bạn dễ dàng tìm kiếm và chọn lựa các
                tour du lịch phù hợp với lịch trình và ngân sách của bạn. Chúng tôi cam kết đảm bảo mọi chuyến đi của
                bạn
                diễn ra suôn sẻ và an toàn, từ việc đặt tour đến khi bạn trở về nhà.
              </p>
              <p>Hãy để Piltover là điểm đầu tiên của bạn trong cuộc hành trình khám phá Việt Nam. Chúng tôi tự hào được
                đồng hành cùng bạn trên những con đường đầy thách thức và những khoảnh khắc đáng nhớ. Đặt tour du lịch
                của
                bạn với Piltover ngay hôm nay và khám phá những điểm đến tuyệt vời mà Việt Nam đã dành riêng cho bạn.
              </p>
              <h2 class="mb-4">Tại Sao Chọn Piltover:</h2>
              <p>1. An Toàn Là Trên Hết: Sự an toàn của bạn luôn là ưu tiên hàng đầu của chúng tôi. Chúng tôi làm việc
                chăm chỉ để đảm bảo mọi khía cạnh của chuyến đi của bạn được lên kế hoạch và bảo đảm.</p>
              <p>2. Những Trải Nghiệm Không Thể Quên: Từ những kỳ quan thiên nhiên đẹp mắt đến những trải nghiệm văn hóa
                sôi động, chúng tôi thiết kế các tour du lịch hứa hẹn những khoảnh khắc đáng nhớ.</p>
              <p>3. Sự Hướng Dẫn Tận Tâm: Đội ngũ chuyên gia du lịch giàu kinh nghiệm của chúng tôi luôn sẵn sàng hỗ trợ
                bạn trong mọi bước của hành trình, cung cấp thông tin hữu ích và sự giúp đỡ.</p>
              <p>4. Đặt Tour Dễ Dàng: Trang web thân thiện với người dùng của chúng tôi giúp bạn dễ dàng tìm kiếm, chọn
                lựa và đặt chuyến du lịch mơ ước của mình một cách tự tin</p>
              <p>Hãy tận hưởng hết mức những cuộc hành trình du lịch của bạn cùng Piltover, nơi chúng tôi biến đam mê du
                lịch của bạn thành hiện thực và đảm bảo an toàn suốt chặng đường. Hãy tham gia chúng tôi trong cuộc hành
                trình khám phá và tạo ra những ký ức sẽ kéo dài suốt đời. Cuộc nghỉ mơ ước của bạn bắt đầu từ đây!
              </p>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="ftco-section ftco-about img" style="background-image: url(../assets/images/bg_4.jpg);">
      <div class="overlay"></div>
      <div class="container py-md-5">
        <div class="row py-md-5">
          <div class="col-md d-flex align-items-center justify-content-center">
            <a href="https://www.youtube.com/watch?v=Au6LqK1UH8g"
              class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
              <span class="fa fa-play"></span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-about ftco-no-pt img">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-12 about-intro">
            <div class="row">
              <div class="col-md-6 d-flex align-items-stretch">
                <div class="img d-flex w-100 align-items-center justify-content-center"
                  style="background-image:url(../assets/images/about-1.jpg);">
                </div>
              </div>
              <div class="col-md-6 pl-md-5 py-5">
                <div class="row justify-content-start pb-3">
                  <div class="col-md-12 heading-section ftco-animate">
                    <span class="subheading">Về Chúng Tôi:</span>

                    <h2 class="mb-4">Về Chúng Tôi:</h2>
                    <p>Tại Piltover, chúng tôi đam mê trong việc tạo ra những cuộc hành trình đặc biệt để để lại trong
                      bạn
                      những ký ức đáng nhớ. Với nhiều năm kinh nghiệm trong ngành du lịch, đội ngũ chuyên nghiệp của
                      chúng
                      tôi cam kết đảm bảo rằng chuyến đi của bạn không chỉ thú vị mà còn an toàn và không lo lắng.</p>
                    <p>
                      Sứ mệnh tại Piltover là biến những kỳ nghỉ mơ ước của bạn thành hiện thực, với sự ưu tiên hàng đầu
                      là sự an toàn và sự thoải mái của bạn. Chúng tôi hiểu rằng mỗi du khách là độc đáo, và vì vậy
                      chúng
                      tôi cung cấp một loạt các tour du lịch và gói dịch vụ đa dạng được lên kế hoạch tỉ mỉ để phục vụ
                      sở
                      thích và quyền lợi riêng của bạn.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>