<main>
  <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url(../assets/images/bg_1.jpg);">
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
          <p class="breadcrumbs">
            <span class="mr-2"><a href="/">Trang chủ <i class="fa fa-chevron-right"></i></a></span>
            <span class="mr-2"><a href="/history">Lịch sử đặt tour <i class="fa fa-chevron-right"></i></a></span>
            <span class="mr-2"><a href="/history-detail">Chi tiết đặt tour <i
                  class="fa fa-chevron-right"></i></a></span>
          </p>

          <h1 class="mb-0 bread">Chi tiết đặt tour</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section services-section container">
    <div class="tab-pane fade show active container-fluid">
      <div class="cart_inner text-dark" style="min-height: 360px !important;">
        <div class="table-responsive">
          <table class="table table-striped " *ngIf="!loading">
            <thead>
              <tr class="table table-info">
                <th class="col-md-4 text-center" style="border-right: 1px black solid;" >Nội dung</th>
                <th class="col-md-8 text-center" >Chi tiết</th>
              </tr>
            </thead>
            <tbody *ngIf="history" >
              <tr class="table-light">
                <td>Booking ID:</td>
                <td>BokNum_{{history.booking.id}}</td>
              </tr>
              <tr class="table-light">
                <td>Tên tour:</td>
                <td>{{history.booking.tourDate.tour.name}}</td>
              </tr>
              <tr class="table-light">
                <td>Mô tả tour:</td>
                <td>{{history.booking.tourDate.tour.description}}</td>
              </tr>
              <tr class="table-light">
                <td>Trạng thái:</td>
                <td [ngSwitch]="history.booking.status">
                  <div *ngSwitchCase="0" class="text-warning">Chưa thanh toán</div>
                  <div *ngSwitchCase="1" class="text-success">Đã thanh toán</div>
                  <div *ngSwitchCase="2" class="text-danger">Đã hủy</div>
                </td>
              </tr>
              <tr class="table-light">
                <td>Ngày lập:</td>
                <td>{{history.booking.createTime|date:'dd-MM-yyyy'}}</td>
              </tr>
              <tr class="table-light">
                <td>Ngày bắt đi:</td>
                <td>{{history.booking.tourDate.initiateDate|date:'dd-MM-yyyy'}}</td>
              </tr>
              <tr class="table-light">
                <td>Thời gian về:</td>
                <td>{{history.booking.tourDate.endDate}}</td>
              </tr>
              <tr class="table-light">
                <td>Phương tiện di chuyển:</td>
                <td>{{history.booking.tourDate.tour.transport.name}}</td>
              </tr>
              <tr class="table-light">
                <td>Số lượng người lớn:</td>
                <td>{{history.adult}}</td>
              </tr>
              <tr class="table-light">
                <td >Số lượng trẻ nhỏ:</td>
                <td >{{history.children}}</td>
              </tr>
              <tr class="table-light">
                <td >Tên người đặt:</td>
                <td>{{history.booking.createUser.fullname}}</td>
              </tr>
              <tr class="table-light">
                <td >Tổng tiền:</td>
                <td>{{history.booking.totalPrice|currency:'3':''}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="loading">
          <h2 class="text-center font-weight-bold">Đang tìm kiếm dữ liệu xin vui lòng chờ</h2>
        </div>
      </div>
    </div>
  </section>
</main>
