<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center ">
                        <div class="text w-100">
                            <h2 class="h3">Chào mừng bạn đăng ký</h2>
                            <p>Bạn muốn quay lại đăng nhập?</p>
                            <a href="/authorization/login" class="btn btn-white btn-outline-white">Đăng nhập</a>
                        </div>
                    </div>
                    <div class="login-wrap p-4 p-lg-5">
                        <div class="d-flex">
                            <div class="w-100 text-center">
                                <h2 class="mb-4">Đăng ký</h2>
                            </div>
                         
                        </div>
                        <form action="#" class="signin-form">
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" placeholder="Họ và tên" required>
                            </div>
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" placeholder="Email" required>
                            </div>
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" placeholder="Tên đăng nhập" required>
                            </div>
                            <div class="form-group mb-3">
                                <input type="password" class="form-control" placeholder="Mật khẩu" required>
                            </div>
                            <div class="form-group mb-3">
                                <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" required>
                            </div>
                          
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Đăng ký</button>
                            </div>                                                             
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>