.ftco-navbar-light .navbar-nav>.nav-item>.nav-link{
    color: black;
 }
 .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover{
    color: #f15d30;
 }
 .ftco-navbar-light .navbar-brand{
  color: black;
 }
 .ftco-navbar-light .navbar-brand:hover{
  color: #f15d30;
 }
 img {
width: 500px; /* Đặt chiều rộng */
height: 500px; /* Đặt chiều cao */
}